legacy/plugins/eu.esdihumboldt.hale/resources/D2.8-I_GML-Application-Schemas_v2.0-GML3.1.1/GN/GeographicalNames.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:GN="urn:x-inspire:specification:gmlas-v31:GeographicalNames:2.0" xmlns:base="urn:x-inspire:specification:gmlas-v31:BaseTypes:3.1" xmlns:gml="http://www.opengis.net/gml" elementFormDefault="qualified" targetNamespace="urn:x-inspire:specification:gmlas-v31:GeographicalNames:2.0" version="2.0">
  <import namespace="http://www.opengis.net/gml" schemaLocation="../gml/3.1.1/gml.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas-v31:BaseTypes:3.1" schemaLocation="../GCM/BaseTypes.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="SpellingOfName" substitutionGroup="gml:_Object" type="GN:SpellingOfNameType"/>
  <complexType name="SpellingOfNameType">
    <sequence>
      <element name="text" type="string"/>
      <element minOccurs="0" name="script" nillable="true">
        <complexType>
          <simpleContent>
            <extension base="string">
              <attribute name="nilReason" type="gml:NullType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element minOccurs="0" name="transliterationScheme" nillable="true">
        <complexType>
          <simpleContent>
            <extension base="string">
              <attribute name="nilReason" type="gml:NullType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="SpellingOfNamePropertyType">
    <sequence>
      <element ref="GN:SpellingOfName"/>
    </sequence>
  </complexType>
  <element name="GeographicalName" substitutionGroup="gml:_Object" type="GN:GeographicalNameType"/>
  <complexType name="GeographicalNameType">
    <sequence>
      <element minOccurs="0" name="language" nillable="true">
        <complexType>
          <simpleContent>
            <extension base="string">
              <attribute name="nilReason" type="gml:NullType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element minOccurs="0" name="nativeValue" nillable="true">
        <complexType>
          <simpleContent>
            <extension base="GN:EndonymExonymType">
              <attribute name="nilReason" type="gml:NullType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element minOccurs="0" name="status" nillable="true">
        <complexType>
          <simpleContent>
            <extension base="GN:NameStatusType">
              <attribute name="nilReason" type="gml:NullType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element minOccurs="0" name="sourceOfName" nillable="true">
        <complexType>
          <simpleContent>
            <extension base="string">
              <attribute name="nilReason" type="gml:NullType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element minOccurs="0" name="pronunciationIPA" nillable="true">
        <complexType>
          <simpleContent>
            <extension base="string">
              <attribute name="nilReason" type="gml:NullType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element maxOccurs="unbounded" name="spelling" type="GN:SpellingOfNamePropertyType"/>
      <element minOccurs="0" name="grammaticalGender" nillable="true">
        <complexType>
          <simpleContent>
            <extension base="gml:CodeType">
              <attribute name="nilReason" type="gml:NullType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element minOccurs="0" name="grammaticalNumber" nillable="true">
        <complexType>
          <simpleContent>
            <extension base="gml:CodeType">
              <attribute name="nilReason" type="gml:NullType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="GeographicalNamePropertyType">
    <sequence>
      <element ref="GN:GeographicalName"/>
    </sequence>
  </complexType>
  <simpleType name="ReferencePointMeaningType">
    <restriction base="string">
      <enumeration value="Inside"/>
      <enumeration value="Center"/>
      <enumeration value="Extremity"/>
      <enumeration value="OnHighestPoint"/>
      <enumeration value="Near"/>
    </restriction>
  </simpleType>
  <element name="NamedPlace" substitutionGroup="gml:_Feature" type="GN:NamedPlaceType"/>
  <complexType name="NamedPlaceType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="identifier" nillable="true">
            <complexType>
              <complexContent>
                <extension base="base:IdentifierPropertyType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" name="name" type="GN:GeographicalNamePropertyType"/>
          <element name="geometry" type="gml:GeometryPropertyType"/>
          <element name="type" type="gml:CodeType"/>
          <element minOccurs="0" name="relatedSpatialObject" nillable="true">
            <complexType>
              <complexContent>
                <extension base="base:IdentifierPropertyType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element minOccurs="0" name="referencePointMeaning" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="GN:ReferencePointMeaningType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="levelOfDetail" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="base:IndicativeLoDType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="typeLocal" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="beginLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NamedPlacePropertyType">
    <sequence minOccurs="0">
      <element ref="GN:NamedPlace"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <simpleType name="NameStatusType">
    <restriction base="string">
      <enumeration value="Official"/>
      <enumeration value="Standardised"/>
      <enumeration value="Historical"/>
      <enumeration value="Other"/>
    </restriction>
  </simpleType>
  <simpleType name="EndonymExonymType">
    <restriction base="string">
      <enumeration value="Endonym"/>
      <enumeration value="Exonym"/>
    </restriction>
  </simpleType>
</schema>
