cst/eu.esdihumboldt.cst.iobridge/src/test/resource/eu/esdihumboldt/cst/iobridge/HALE_CST_Spain_HUMBOLDT/models/pa_simple_corr.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xsd:schema targetNamespace="http://humboldt/pa"
xmlns:uml="http://schema.omg.org/spec/UML/2.1"
xmlns:xmi="http://schema.omg.org/spec/XMI/2.1"
xmlns:MagicDraw_Profile="http://www.magicdraw.com/schemas/MagicDraw_Profile.xmi"
xmlns:DSL_Customization="http://www.magicdraw.com/schemas/DSL_Customization.xmi"
xmlns:UML_Standard_Profile="http://www.magicdraw.com/schemas/UML_Standard_Profile.xmi"
xmlns:Validation_Profile="http://www.magicdraw.com/schemas/Validation_Profile.xmi"
xmlns:ugas="http://www.interactive-instruments.de/ShapeChange/Configuration"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:ocean="http://humboldt/ocean/cdm"
xmlns:pa="http://humboldt/pa"
xmlns:ogc="http://www.opengis.net/ogc"
xmlns:gml="http://www.opengis.net/gml/3.2"
xmlns:gmd="http://www.isotc211.org/2005/gmd"
xmlns:base="urn:x-inspire:specification:gmlas:BaseTypes:3.2"
xmlns="http://www.w3.org/2001/XMLSchema" >

  <xsd:import namespace="http://www.opengis.net/gml/3.2"
  schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd" />
  <xsd:import namespace="http://www.isotc211.org/2005/gmd"
  schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd" />

  <xsd:import namespace="urn:x-inspire:specification:gmlas:BaseTypes:3.2"
  schemaLocation="BaseTypes.xsd" />

  <xsd:element name="ActivitiesInProtectedArea" substitutionGroup="gml:AbstractFeature" type="pa:ActivitiesInProtectedAreaType" />
  <xsd:complexType name="ActivitiesInProtectedAreaType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
    <xsd:sequence>
      <xsd:element name="objectIdentifier" type="base:IdentifierType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="relatedToProtectedArea"
      type="pa:ProtectedAreaPropertyType" minOccurs="0"
      maxOccurs="1" />
    </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="DesignationType" substitutionGroup="gml:AbstractFeature" type="pa:DesignationTypeType" />
  <xsd:complexType name="DesignationTypeType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
    <xsd:sequence>
      <xsd:element name="objectIdentifier" type="base:IdentifierType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="relatedToProtectedArea"
      type="pa:ProtectedAreaPropertyType" minOccurs="0"
      maxOccurs="1" />
    </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="ExternalInformation" substitutionGroup="gml:AbstractFeature" type="pa:ExternalInformationType" />
  <xsd:complexType name="ExternalInformationType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
    <xsd:sequence>
      <xsd:element name="administrativeBoundaries"
      type="xsd:string" minOccurs="1" maxOccurs="1" />
      <xsd:element name="hydrography" type="xsd:string"
      minOccurs="1" maxOccurs="1" />
      <xsd:element name="landuse" type="xsd:string" minOccurs="1"
      maxOccurs="1" />
    </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="FireActivity" substitutionGroup="pa:ActivitiesInProtectedArea" type="pa:FireActivityType" />
  <xsd:complexType name="FireActivityType">
    <xsd:complexContent>
      <xsd:extension base="pa:ActivitiesInProtectedAreaType">
        <xsd:sequence>
          <xsd:element name="burntArea" type="double" minOccurs="1"
          maxOccurs="1" />
          <xsd:element name="date" type="dateTime" minOccurs="1"
          maxOccurs="1" />
          <xsd:element name="geometry" type="gml:MultiSurfaceType"
          minOccurs="1" maxOccurs="1" />
          <xsd:element name="objectIdentifier" type="base:IdentifierType" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="InternationalRecognition" substitutionGroup="pa:DesignationType" type="pa:InternationalRecognitionType" />
  <xsd:complexType name="InternationalRecognitionType">
    <xsd:complexContent>
      <xsd:extension base="pa:DesignationTypeType">
        <xsd:sequence>
          <xsd:element name="designationType"
          type="pa:DesignationTypeCode" minOccurs="1"
          maxOccurs="1" />
          <xsd:element name="geometry" type="gml:MultiSurfaceType"
          minOccurs="1" maxOccurs="1" />
          <xsd:element name="objectIdentifier" type="base:IdentifierType" minOccurs="1" maxOccurs="1" />
          <xsd:element name="officialSiteArea" type="integer"
          minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Nature2000Network" substitutionGroup="pa:DesignationType" type="pa:Nature2000NetworkType" />
  <xsd:complexType name="Nature2000NetworkType">
    <xsd:complexContent>
      <xsd:extension base="pa:DesignationTypeType">
        <xsd:sequence>
          <xsd:element name="designationType"
          type="pa:DesignationTypeCode" minOccurs="1"
          maxOccurs="1" />
          <xsd:element name="geometry" type="gml:MultiSurfaceType"
          minOccurs="1" maxOccurs="1" />
          <xsd:element name="name" type="string" minOccurs="1"
          maxOccurs="1" />
          <xsd:element name="objectIdentifier" type="base:IdentifierType" minOccurs="1" maxOccurs="1" />
          <xsd:element name="officialSiteArea" type="integer"
          minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="OtherActivity" substitutionGroup="pa:ActivitiesInProtectedArea" type="pa:OtherActivityType" />
  <xsd:complexType name="OtherActivityType">
    <xsd:complexContent>
      <xsd:extension base="pa:ActivitiesInProtectedAreaType">
        <xsd:sequence>
          <xsd:element name="activity" type="pa:ActivityTypeCode"
          minOccurs="1" maxOccurs="1" />
          <xsd:element name="geometry" type="gml:MultiSurfaceType"
          minOccurs="1" maxOccurs="1" />
          <xsd:element name="objectIdentifier" type="base:IdentifierType" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="ProtectedArea" substitutionGroup="gml:AbstractFeature"  type="pa:ProtectedAreaType" />
  <xsd:complexType name="ProtectedAreaType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
    <xsd:sequence>
      <xsd:element name="accuracy" type="integer" minOccurs="1"
      maxOccurs="1" />
      <xsd:element name="accuracyUnitsOfMeasure" type="integer"
      minOccurs="1" maxOccurs="1" />
      <xsd:element name="areaUnitOfMeasure" type="integer"
      minOccurs="1" maxOccurs="1" />
      <xsd:element name="dataSource" type="string" minOccurs="1"
      maxOccurs="1" />
      <xsd:element name="geometry" type="gml:MultiSurfaceType"
      minOccurs="1" maxOccurs="1" />
      <xsd:element name="IUCNCategory" type="pa:IUCNCategoryCode"
      minOccurs="1" maxOccurs="1" />
      <xsd:element name="name" type="string" minOccurs="1"
      maxOccurs="1" />
      <xsd:element name="nationalDesignationType" type="string"
      minOccurs="1" maxOccurs="1" />
      <xsd:element name="objectIdentifier" type="base:IdentifierType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="officialSiteArea" type="integer"
      minOccurs="1" maxOccurs="1" />
      <xsd:element name="responsibleAgencyName"
      type="gmd:LocalisedCharacterString_PropertyType"
      minOccurs="1" maxOccurs="1" />
      <xsd:element name="siteCode" type="string" minOccurs="1"
      maxOccurs="1" />
    </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="SiteManagementPlans" substitutionGroup="gml:AbstractFeature" type="pa:SiteManagementPlansType" />
  <xsd:complexType name="SiteManagementPlansType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
    <xsd:sequence>
      <xsd:element name="geometry" type="gml:MultiSurfaceType"
      minOccurs="1" maxOccurs="1" />
      <xsd:element name="name" type="string" minOccurs="1"
      maxOccurs="1" />
      <xsd:element name="objectIdentifier" type="base:IdentifierType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="officialSiteArea" type="integer"
      minOccurs="1" maxOccurs="1" />
      <xsd:element name="zoningLegenda" type="string" minOccurs="1"
      maxOccurs="1" />
      <xsd:element name="relatedToProtectedArea"
      type="pa:ProtectedAreaPropertyType" minOccurs="0"
      maxOccurs="1" />
    </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="TransportationActivity" substitutionGroup="pa:ActivitiesInProtectedArea" type="pa:TransportationActivityType" />
  <xsd:complexType name="TransportationActivityType">
    <xsd:complexContent>
      <xsd:extension base="pa:ActivitiesInProtectedAreaType">
        <xsd:sequence>
          <xsd:element name="geometry" type="gml:MultiCurveType"
          minOccurs="1" maxOccurs="1" />
          <xsd:element name="objectIdentifier" type="base:IdentifierType" minOccurs="1" maxOccurs="1" />
          <xsd:element name="rank" type="integer" minOccurs="1"
          maxOccurs="1" />
          <xsd:element name="type" type="integer" minOccurs="1"
          maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:simpleType name="IUCNCategoryCode">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Habitat/Species Management Area" />
      <xsd:enumeration value="Managed Resource Protected Area" />
      <xsd:enumeration value="National Park" />
      <xsd:enumeration value="Natural Monument" />
      <xsd:enumeration value="Protected Landscape/Seascape" />
      <xsd:enumeration value="Strict Nature Reserve" />
      <xsd:enumeration value="Wilderness Area" />
    </xsd:restriction>
  </xsd:simpleType>

  <!--xsd:element name="LocalisedCharacterString"
  type="pa:LocalisedCharacterStringType" />
  <xsd:complexType name="LocalisedCharacterStringType">
    <xsd:sequence>
      <xsd:element name="relatedToPT_Locale"
      type="gmd:PT_Locale_PropertyType" minOccurs="1"
      maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType-->

  <!--xsd:element name="Identifier" type="pa:IdentifierType" />
  <xsd:complexType name="IdentifierType">
    <xsd:sequence>
      <xsd:element name="localId" type="string" minOccurs="1"
      maxOccurs="1" />
      <xsd:element name="namespace" type="string" minOccurs="1"
      maxOccurs="1" />
      <xsd:element name="versionId" type="string" minOccurs="0"
      maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType-->

  <xsd:simpleType name="ActivityTypeCode">
    <xsd:restriction base="xsd:string"></xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="DesignationTypeCode">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="SAC" />
      <xsd:enumeration value="SPA" />
      <xsd:enumeration value="SCI" />
      <xsd:enumeration value="RAMSAR" />
      <xsd:enumeration value="NDA" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="ProtectedAreaPropertyType" />

</xsd:schema>
