io/plugins/eu.esdihumboldt.hale.io.oml.test/src/testdata/sample_wva/inspire3/SpeciesDistribution.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:base="urn:x-inspire:specification:gmlas:BaseTypes:3.2" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:hb="urn:x-inspire:specification:gmlas:HabitatsAndBiotopes:0.0" xmlns:ps-f="urn:x-inspire:specification:gmlas:ProtectedSitesFull:3.0" xmlns:sd="urn:x-inspire:specification:gmlas:SpeciesDistribution:0.0" elementFormDefault="qualified" targetNamespace="urn:x-inspire:specification:gmlas:SpeciesDistribution:0.0" version="0.0">
  <import namespace="urn:x-inspire:specification:gmlas:BaseTypes:3.2" schemaLocation="BaseTypes.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:ProtectedSitesFull:3.0" schemaLocation="ProtectedSitesFull.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:HabitatsAndBiotopes:0.0" schemaLocation="HabitatsAndBiotopes.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <simpleType name="SpeciesTypeValueType">
    <annotation>
      <documentation>-- Definition --&#13;
The species type using species from Article 4.1 and 4.2 of the Birds Directive (Council Directive 79/409/EEC) and Annex II of the Habitats Directive (Council Directive 92/43/EEC). &#13;
&#13;
-- Description --&#13;
NOTE 1 The code list now only contains the values of Annex I of the Birds Directive.&#13;
&#13;
NOTE 2 The values of Annex II of the Habitats Directive are listed at http://converters.eionet.europa.eu/xmlfile/taxonomy.xml.&#13;
</documentation>
    </annotation>
    <union memberTypes="sd:SpeciesTypeValueEnumerationType sd:SpeciesTypeValueOtherType"/>
  </simpleType>
  <simpleType name="SpeciesTypeValueEnumerationType">
    <annotation>
      <documentation>-- Definition --&#13;
The species type using species from Article 4.1 and 4.2 of the Birds Directive (Council Directive 79/409/EEC) and Annex II of the Habitats Directive (Council Directive 92/43/EEC). &#13;
&#13;
-- Description --&#13;
NOTE 1 The code list now only contains the values of Annex I of the Birds Directive.&#13;
&#13;
NOTE 2 The values of Annex II of the Habitats Directive are listed at http://converters.eionet.europa.eu/xmlfile/taxonomy.xml.&#13;
</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="accipiterBrevipes">
        <annotation>
          <documentation>-- Definition --&#13;
"Accipiter brevipes" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="accipiterGentilisArrigonii">
        <annotation>
          <documentation>-- Definition --&#13;
"Accipiter gentilis arrigonii" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="accipiterNisusGranti">
        <annotation>
          <documentation>-- Definition --&#13;
"Accipiter nisus granti" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="acrocephalusMelanopogon">
        <annotation>
          <documentation>-- Definition --&#13;
"Acrocephalus melanopogon" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="acrocephalusPaludicola">
        <annotation>
          <documentation>-- Definition --&#13;
"Acrocephalus paludicola" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="aegoliusFunereus">
        <annotation>
          <documentation>-- Definition --&#13;
"Aegolius funereus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="aegypiusMonachus">
        <annotation>
          <documentation>-- Definition --&#13;
"Aegypius monachus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="alcedoAtthis">
        <annotation>
          <documentation>-- Definition --&#13;
"Alcedo atthis" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="alectorisBarbara">
        <annotation>
          <documentation>-- Definition --&#13;
"Alectoris barbara" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="alectorisGraeca">
        <annotation>
          <documentation>-- Definition --&#13;
"Alectoris graeca" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="anserAlbifronsFlavirostris">
        <annotation>
          <documentation>-- Definition --&#13;
"Anser albifrons flavirostris" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="anserErythropus">
        <annotation>
          <documentation>-- Definition --&#13;
"Anser erythropus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="anthusCampestris">
        <annotation>
          <documentation>-- Definition --&#13;
"Anthus campestris" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="apusCaffer">
        <annotation>
          <documentation>-- Definition --&#13;
"Apus caffer" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="aquilaAdalberti">
        <annotation>
          <documentation>-- Definition --&#13;
"Aquila adalberti" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="aquilaChrysaetos">
        <annotation>
          <documentation>-- Definition --&#13;
"Aquila chrysaetos" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="aquilaClanga">
        <annotation>
          <documentation>-- Definition --&#13;
"Aquila clanga" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="aquilaHeliaca">
        <annotation>
          <documentation>-- Definition --&#13;
"Aquila heliaca" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="aquilaPomarina">
        <annotation>
          <documentation>-- Definition --&#13;
"Aquila pomarina" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ardeaPurpurea">
        <annotation>
          <documentation>-- Definition --&#13;
"Ardea purpurea" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ardeolaRalloides">
        <annotation>
          <documentation>-- Definition --&#13;
"Ardeola ralloides" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="asioFlammeus">
        <annotation>
          <documentation>-- Definition --&#13;
"Asio flammeus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="aythyaNyroca">
        <annotation>
          <documentation>-- Definition --&#13;
"Aythya nyroca" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bonasaBonasia">
        <annotation>
          <documentation>-- Definition --&#13;
"Bonasa bonasia" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="botaurusStellaris">
        <annotation>
          <documentation>-- Definition --&#13;
"Botaurus stellaris" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="brantaLeucopsis">
        <annotation>
          <documentation>-- Definition --&#13;
"Branta leucopsis" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="brantaRuficollis">
        <annotation>
          <documentation>-- Definition --&#13;
"Branta ruficollis" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="buboBubo">
        <annotation>
          <documentation>-- Definition --&#13;
"Bubo bubo" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bucanetesGithagineus">
        <annotation>
          <documentation>-- Definition --&#13;
"Bucanetes githagineus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bulweriaBulwerii">
        <annotation>
          <documentation>-- Definition --&#13;
"Bulweria bulwerii" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="burhinusOedicnemus">
        <annotation>
          <documentation>-- Definition --&#13;
"Burhinus oedicnemus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="buteoRufinus">
        <annotation>
          <documentation>-- Definition --&#13;
"Buteo rufinus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="calandrellaBrachydactyla">
        <annotation>
          <documentation>-- Definition --&#13;
"Calandrella brachydactyla" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="calidrisAlpinaSchinzii">
        <annotation>
          <documentation>-- Definition --&#13;
"Calidris alpina schinzii" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="calonectrisDiomedea">
        <annotation>
          <documentation>-- Definition --&#13;
"Calonectris diomedea" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="caprimulgusEuropaeus">
        <annotation>
          <documentation>-- Definition --&#13;
"Caprimulgus europaeus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="certhiaBrachydactylaDorotheae">
        <annotation>
          <documentation>-- Definition --&#13;
"Certhia brachydactyla dorotheae" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="hieraaetusFasciatus">
        <annotation>
          <documentation>-- Definition --&#13;
"Hieraaetus fasciatus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="hieraaetusPennatus">
        <annotation>
          <documentation>-- Definition --&#13;
"Hieraaetus pennatus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="himantopusHimantopus">
        <annotation>
          <documentation>-- Definition --&#13;
"Himantopus himantopus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="hippolaisOlivetorum">
        <annotation>
          <documentation>-- Definition --&#13;
"Hippolais olivetorum" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="hoplopterusSpinosus">
        <annotation>
          <documentation>-- Definition --&#13;
"Hoplopterus spinosus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="hydrobatesPelagicus">
        <annotation>
          <documentation>-- Definition --&#13;
"Hydrobates pelagicus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ixobrychusMinutus">
        <annotation>
          <documentation>-- Definition --&#13;
"Ixobrychus minutus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lagopusMutusHelveticus">
        <annotation>
          <documentation>-- Definition --&#13;
"Lagopus mutus helveticus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lagopusMutusPyrenaicus">
        <annotation>
          <documentation>-- Definition --&#13;
"Lagopus mutus pyrenaicus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="laniusCollurio">
        <annotation>
          <documentation>-- Definition --&#13;
"Lanius collurio" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="laniusMinor">
        <annotation>
          <documentation>-- Definition --&#13;
"Lanius minor" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="laniusNubicus">
        <annotation>
          <documentation>-- Definition --&#13;
"Lanius nubicus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="larusAudouinii">
        <annotation>
          <documentation>-- Definition --&#13;
"Larus audouinii" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="larusGenei">
        <annotation>
          <documentation>-- Definition --&#13;
"Larus genei" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="larusMelanocephalus">
        <annotation>
          <documentation>-- Definition --&#13;
"Larus melanocephalus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="larusMinutus">
        <annotation>
          <documentation>-- Definition --&#13;
"Larus minutus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="limosaLapponica">
        <annotation>
          <documentation>-- Definition --&#13;
"Limosa lapponica" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="loxiaScotica">
        <annotation>
          <documentation>-- Definition --&#13;
"Loxia scotica" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lullulaArborea">
        <annotation>
          <documentation>-- Definition --&#13;
"Lullula arborea" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lusciniaSvecica">
        <annotation>
          <documentation>-- Definition --&#13;
"Luscinia svecica" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="marmaronettaAngustirostris">
        <annotation>
          <documentation>-- Definition --&#13;
"Marmaronetta angustirostris" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="melanocoryphaCalandra">
        <annotation>
          <documentation>-- Definition --&#13;
"Melanocorypha calandra" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mergusAlbellusMergellusAlbellus">
        <annotation>
          <documentation>-- Definition --&#13;
"Mergus albellus (Mergellus albellus)" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="milvusMigrans">
        <annotation>
          <documentation>-- Definition --&#13;
"Milvus migrans" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="charadriusAlexandrinus">
        <annotation>
          <documentation>-- Definition --&#13;
"Charadrius alexandrinus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="charadriusMorinellusEudromiasMorinellus">
        <annotation>
          <documentation>-- Definition --&#13;
"Charadrius morinellus (Eudromias morinellus)" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="chersophilusDuponti">
        <annotation>
          <documentation>-- Definition --&#13;
"Chersophilus duponti" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="chlamydotisUndulata">
        <annotation>
          <documentation>-- Definition --&#13;
"Chlamydotis undulata" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="chlidoniasHybridus">
        <annotation>
          <documentation>-- Definition --&#13;
"Chlidonias hybridus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="chlidoniasNiger">
        <annotation>
          <documentation>-- Definition --&#13;
"Chlidonias niger" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ciconiaCiconia">
        <annotation>
          <documentation>-- Definition --&#13;
"Ciconia ciconia" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ciconiaNigra">
        <annotation>
          <documentation>-- Definition --&#13;
"Ciconia nigra" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="circaetusGallicus">
        <annotation>
          <documentation>-- Definition --&#13;
"Circaetus gallicus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="circusAeruginosus">
        <annotation>
          <documentation>-- Definition --&#13;
"Circus aeruginosus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="circusCyaneus">
        <annotation>
          <documentation>-- Definition --&#13;
"Circus cyaneus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="circusMacrourus">
        <annotation>
          <documentation>-- Definition --&#13;
"Circus macrourus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="circusPygargus">
        <annotation>
          <documentation>-- Definition --&#13;
"Circus pygargus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="columbaBollii">
        <annotation>
          <documentation>-- Definition --&#13;
"Columba bollii" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="columbaJunoniae">
        <annotation>
          <documentation>-- Definition --&#13;
"Columba junoniae" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="columbaPalumbusAzorica">
        <annotation>
          <documentation>-- Definition --&#13;
"Columba palumbus azorica" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="columbaTrocaz">
        <annotation>
          <documentation>-- Definition --&#13;
"Columba trocaz" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="coraciasGarrulus">
        <annotation>
          <documentation>-- Definition --&#13;
"Coracias garrulus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="crexCrex">
        <annotation>
          <documentation>-- Definition --&#13;
"Crex crex" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="cursoriusCursor">
        <annotation>
          <documentation>-- Definition --&#13;
"Cursorius cursor" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="cygnusBewickiiCygnusColumbianusBewickii">
        <annotation>
          <documentation>-- Definition --&#13;
"Cygnus bewickii (Cygnus columbianus bewickii)" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="cygnusCygnus">
        <annotation>
          <documentation>-- Definition --&#13;
"Cygnus cygnus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dendrocoposLeucotos">
        <annotation>
          <documentation>-- Definition --&#13;
"Dendrocopos leucotos" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dendrocoposMajorCanariensis">
        <annotation>
          <documentation>-- Definition --&#13;
"Dendrocopos major canariensis" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dendrocoposMajorThanneri">
        <annotation>
          <documentation>-- Definition --&#13;
"Dendrocopos major thanneri" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dendrocoposMedius">
        <annotation>
          <documentation>-- Definition --&#13;
"Dendrocopos medius" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dendrocoposSyriacus">
        <annotation>
          <documentation>-- Definition --&#13;
"Dendrocopos syriacus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dryocopusMartius">
        <annotation>
          <documentation>-- Definition --&#13;
"Dryocopus martius" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="egrettaAlbaArdeaAlba">
        <annotation>
          <documentation>-- Definition --&#13;
"Egretta alba (Ardea alba)" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="egrettaGarzetta">
        <annotation>
          <documentation>-- Definition --&#13;
"Egretta garzetta" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="elanusCaeruleus">
        <annotation>
          <documentation>-- Definition --&#13;
"Elanus caeruleus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="emberizaCaesia">
        <annotation>
          <documentation>-- Definition --&#13;
"Emberiza caesia" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="emberizaCineracea">
        <annotation>
          <documentation>-- Definition --&#13;
"Emberiza cineracea" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="emberizaHortulana">
        <annotation>
          <documentation>-- Definition --&#13;
"Emberiza hortulana" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="falcoBiarmicus">
        <annotation>
          <documentation>-- Definition --&#13;
"Falco biarmicus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="falcoCherrug">
        <annotation>
          <documentation>-- Definition --&#13;
"Falco cherrug" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="falcoColumbarius">
        <annotation>
          <documentation>-- Definition --&#13;
"Falco columbarius" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="falcoEleonorae">
        <annotation>
          <documentation>-- Definition --&#13;
"Falco eleonorae" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="falcoNaumanni">
        <annotation>
          <documentation>-- Definition --&#13;
"Falco naumanni" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="falcoPeregrinus">
        <annotation>
          <documentation>-- Definition --&#13;
"Falco peregrinus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="falcoRusticolus">
        <annotation>
          <documentation>-- Definition --&#13;
"Falco rusticolus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="falcoVespertinus">
        <annotation>
          <documentation>-- Definition --&#13;
"Falco vespertinus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ficedulaAlbicollis">
        <annotation>
          <documentation>-- Definition --&#13;
"Ficedula albicollis" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ficedulaParva">
        <annotation>
          <documentation>-- Definition --&#13;
"Ficedula parva" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ficedulaSemitorquata">
        <annotation>
          <documentation>-- Definition --&#13;
"Ficedula semitorquata" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fringillaCoelebsOmbriosa">
        <annotation>
          <documentation>-- Definition --&#13;
"Fringilla coelebs ombriosa" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fringillaTeydea">
        <annotation>
          <documentation>-- Definition --&#13;
"Fringilla teydea" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fulicaCristata">
        <annotation>
          <documentation>-- Definition --&#13;
"Fulica cristata" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="galeridaTheklae">
        <annotation>
          <documentation>-- Definition --&#13;
"Galerida theklae" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gallinagoMedia">
        <annotation>
          <documentation>-- Definition --&#13;
"Gallinago media" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gaviaArctica">
        <annotation>
          <documentation>-- Definition --&#13;
"Gavia arctica" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gaviaImmer">
        <annotation>
          <documentation>-- Definition --&#13;
"Gavia immer" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gaviaStellata">
        <annotation>
          <documentation>-- Definition --&#13;
"Gavia stellata" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gelochelidonNiloticaSternaNilotica">
        <annotation>
          <documentation>-- Definition --&#13;
"Gelochelidon nilotica (Sterna nilotica)" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="glareolaPratincola">
        <annotation>
          <documentation>-- Definition --&#13;
"Glareola pratincola" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="glaucidiumPasserinum">
        <annotation>
          <documentation>-- Definition --&#13;
"Glaucidium passerinum" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="grusGrus">
        <annotation>
          <documentation>-- Definition --&#13;
"Grus grus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gypaetusBarbatus">
        <annotation>
          <documentation>-- Definition --&#13;
"Gypaetus barbatus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gypsFulvus">
        <annotation>
          <documentation>-- Definition --&#13;
"Gyps fulvus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="haliaeetusAlbicilla">
        <annotation>
          <documentation>-- Definition --&#13;
"Haliaeetus albicilla" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="milvusMilvus">
        <annotation>
          <documentation>-- Definition --&#13;
"Milvus milvus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="neophronPercnopterus">
        <annotation>
          <documentation>-- Definition --&#13;
"Neophron percnopterus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="numeniusTenuirostris">
        <annotation>
          <documentation>-- Definition --&#13;
"Numenius tenuirostris" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nycteaScandiaca">
        <annotation>
          <documentation>-- Definition --&#13;
"Nyctea scandiaca" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nycticoraxNycticorax">
        <annotation>
          <documentation>-- Definition --&#13;
"Nycticorax nycticorax" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="oceanodromaCastro">
        <annotation>
          <documentation>-- Definition --&#13;
"Oceanodroma castro" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="oceanodromaLeucorhoa">
        <annotation>
          <documentation>-- Definition --&#13;
"Oceanodroma leucorhoa" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="oenantheCypriaca">
        <annotation>
          <documentation>-- Definition --&#13;
"Oenanthe cypriaca" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="oenantheLeucura">
        <annotation>
          <documentation>-- Definition --&#13;
"Oenanthe leucura" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="oenanthePleschanka">
        <annotation>
          <documentation>-- Definition --&#13;
"Oenanthe pleschanka" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="otisTarda">
        <annotation>
          <documentation>-- Definition --&#13;
"Otis tarda" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="oxyuraLeucocephala">
        <annotation>
          <documentation>-- Definition --&#13;
"Oxyura leucocephala" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pandionHaliaetus">
        <annotation>
          <documentation>-- Definition --&#13;
"Pandion haliaetus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="parusAterCypriotes">
        <annotation>
          <documentation>-- Definition --&#13;
"Parus ater cypriotes" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pelagodromaMarina">
        <annotation>
          <documentation>-- Definition --&#13;
"Pelagodroma marina" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pelecanusCrispus">
        <annotation>
          <documentation>-- Definition --&#13;
"Pelecanus crispus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pelecanusOnocrotalus">
        <annotation>
          <documentation>-- Definition --&#13;
"Pelecanus onocrotalus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="perdixPerdixHispaniensis">
        <annotation>
          <documentation>-- Definition --&#13;
"Perdix perdix hispaniensis" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="perdixPerdixItalica">
        <annotation>
          <documentation>-- Definition --&#13;
"Perdix perdix italica" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pernisApivorus">
        <annotation>
          <documentation>-- Definition --&#13;
"Pernis apivorus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="phalacrocoraxAristotelisDesmarestii">
        <annotation>
          <documentation>-- Definition --&#13;
"Phalacrocorax aristotelis desmarestii" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="phalacrocoraxPygmeus">
        <annotation>
          <documentation>-- Definition --&#13;
"Phalacrocorax pygmeus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="phalaropusLobatus">
        <annotation>
          <documentation>-- Definition --&#13;
"Phalaropus lobatus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="philomachusPugnax">
        <annotation>
          <documentation>-- Definition --&#13;
"Philomachus pugnax" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="phoenicopterusRuber">
        <annotation>
          <documentation>-- Definition --&#13;
"Phoenicopterus ruber" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="picoidesTridactylus">
        <annotation>
          <documentation>-- Definition --&#13;
"Picoides tridactylus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="picusCanus">
        <annotation>
          <documentation>-- Definition --&#13;
"Picus canus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="plataleaLeucorodia">
        <annotation>
          <documentation>-- Definition --&#13;
"Platalea leucorodia" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="plegadisFalcinellus">
        <annotation>
          <documentation>-- Definition --&#13;
"Plegadis falcinellus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pluvialisApricaria">
        <annotation>
          <documentation>-- Definition --&#13;
"Pluvialis apricaria" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="podicepsAuritus">
        <annotation>
          <documentation>-- Definition --&#13;
"Podiceps auritus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="polystictaStelleri">
        <annotation>
          <documentation>-- Definition --&#13;
"Polysticta stelleri" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="porphyrioPorphyrio">
        <annotation>
          <documentation>-- Definition --&#13;
"Porphyrio porphyrio" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="porzanaParva">
        <annotation>
          <documentation>-- Definition --&#13;
"Porzana parva" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="porzanaPorzana">
        <annotation>
          <documentation>-- Definition --&#13;
"Porzana porzana" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="porzanaPusilla">
        <annotation>
          <documentation>-- Definition --&#13;
"Porzana pusilla" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pteroclesAlchata">
        <annotation>
          <documentation>-- Definition --&#13;
"Pterocles alchata" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pteroclesOrientalis">
        <annotation>
          <documentation>-- Definition --&#13;
"Pterocles orientalis" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pterodromaFeae">
        <annotation>
          <documentation>-- Definition --&#13;
"Pterodroma feae" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pterodromaMadeira">
        <annotation>
          <documentation>-- Definition --&#13;
"Pterodroma madeira" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="puffinusAssimilis">
        <annotation>
          <documentation>-- Definition --&#13;
"Puffinus assimilis" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="puffinusPuffinusMauretanicusPuffinusMauretanicus">
        <annotation>
          <documentation>-- Definition --&#13;
"Puffinus puffinus mauretanicus (Puffinus mauretanicus)" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="puffinusYelkouan">
        <annotation>
          <documentation>-- Definition --&#13;
"Puffinus yelkouan" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pyrrhocoraxPyrrhocorax">
        <annotation>
          <documentation>-- Definition --&#13;
"Pyrrhocorax pyrrhocorax" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pyrrhulaMurinaPyrrhulaPyrrhulaMurina">
        <annotation>
          <documentation>-- Definition --&#13;
"Pyrrhula murina (Pyrrhula pyrrhula murina)" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="recurvirostraAvosetta">
        <annotation>
          <documentation>-- Definition --&#13;
"Recurvirostra avosetta" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="saxicolaDacotiae">
        <annotation>
          <documentation>-- Definition --&#13;
"Saxicola dacotiae" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sittaKrueperi">
        <annotation>
          <documentation>-- Definition --&#13;
"Sitta krueperi" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sittaWhiteheadi">
        <annotation>
          <documentation>-- Definition --&#13;
"Sitta whiteheadi" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sternaAlbifrons">
        <annotation>
          <documentation>-- Definition --&#13;
"Sterna albifrons" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sternaCaspia">
        <annotation>
          <documentation>-- Definition --&#13;
"Sterna caspia" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sternaDougallii">
        <annotation>
          <documentation>-- Definition --&#13;
"Sterna dougallii" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sternaHirundo">
        <annotation>
          <documentation>-- Definition --&#13;
"Sterna hirundo" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sternaParadisaea">
        <annotation>
          <documentation>-- Definition --&#13;
"Sterna paradisaea" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sternaSandvicensis">
        <annotation>
          <documentation>-- Definition --&#13;
"Sterna sandvicensis" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="strixNebulosa">
        <annotation>
          <documentation>-- Definition --&#13;
"Strix nebulosa" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="strixUralensis">
        <annotation>
          <documentation>-- Definition --&#13;
"Strix uralensis" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="surniaUlula">
        <annotation>
          <documentation>-- Definition --&#13;
"Surnia ulula" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sylviaMelanothorax">
        <annotation>
          <documentation>-- Definition --&#13;
"Sylvia melanothorax" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sylviaNisoria">
        <annotation>
          <documentation>-- Definition --&#13;
"Sylvia nisoria" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sylviaRueppelli">
        <annotation>
          <documentation>-- Definition --&#13;
"Sylvia rueppelli" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sylviaSarda">
        <annotation>
          <documentation>-- Definition --&#13;
"Sylvia sarda" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sylviaUndata">
        <annotation>
          <documentation>-- Definition --&#13;
"Sylvia undata" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tadornaFerruginea">
        <annotation>
          <documentation>-- Definition --&#13;
"Tadorna ferruginea" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tetraoTetrixTetrix">
        <annotation>
          <documentation>-- Definition --&#13;
"Tetrao tetrix tetrix" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tetraoUrogallus">
        <annotation>
          <documentation>-- Definition --&#13;
"Tetrao urogallus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tetraxTetrax">
        <annotation>
          <documentation>-- Definition --&#13;
"Tetrax tetrax" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tringaGlareola">
        <annotation>
          <documentation>-- Definition --&#13;
"Tringa glareola" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="troglodytesTroglodytesFridariensis">
        <annotation>
          <documentation>-- Definition --&#13;
"Troglodytes troglodytes fridariensis" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="turnixSylvatica">
        <annotation>
          <documentation>-- Definition --&#13;
"Turnix sylvatica" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uriaAalgeIbericus">
        <annotation>
          <documentation>-- Definition --&#13;
"Uria aalge ibericus" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="xenusCinereusTringaCinerea">
        <annotation>
          <documentation>-- Definition --&#13;
"Xenus cinereus (Tringa cinerea)" in Appendix I of Council Directive 79/409/EEC.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SpeciesTypeValueOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SpeciesCommonalityValueType">
    <annotation>
      <documentation>-- Definition --&#13;
A code indicating the commonality of the species in the aggregation unit.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="common">
        <annotation>
          <documentation>-- Definition --&#13;
The species is common.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rare">
        <annotation>
          <documentation>-- Definition --&#13;
The species is rare.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="veryRare">
        <annotation>
          <documentation>-- Definition --&#13;
The species is very rare.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="present">
        <annotation>
          <documentation>-- Definition --&#13;
The species is present.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SpeciesListingReasonValueType">
    <annotation>
      <documentation>-- Definition --&#13;
A code indicating the motivation for including an unlisted species type in the assessment of the species distribution.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="nationalRedDataList">
        <annotation>
          <documentation>-- Definition --&#13;
The species is listed because it is on a National Red Data list.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="endemics">
        <annotation>
          <documentation>-- Definition --&#13;
The species is listed because it is endemic.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="internationalConventions">
        <annotation>
          <documentation>-- Definition --&#13;
The species is listed because it is included in international conventions (including Bern, Bonn and Biodiversity conventions).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="otherReasons">
        <annotation>
          <documentation>-- Definition --&#13;
The species is listed for other reasons.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="SpeciesPopulationType" substitutionGroup="gml:AbstractObject" type="sd:SpeciesPopulationTypeType">
    <annotation>
      <documentation>-- Definition --&#13;
A data type allowing three different ways of expressing the population of a species in an aggregation unit.</documentation>
    </annotation>
  </element>
  <complexType name="SpeciesPopulationTypeType">
    <sequence>
      <element minOccurs="0" name="specificNumericalSpeciesPopulation" nillable="true">
        <annotation>
          <documentation>-- Definition --&#13;
A species population in which a specific number is known.</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="integer">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element minOccurs="0" name="rangeNumericalSpeciesPopulation" nillable="true">
        <annotation>
          <documentation>-- Definition --&#13;
A range value indicating the species population using upper and lower bounds, only used if the specificNumericalSpeciesPopulation is not known.</documentation>
        </annotation>
        <complexType>
          <sequence>
            <element ref="sd:RangeType"/>
          </sequence>
          <attribute name="nilReason" type="gml:NilReasonType"/>
        </complexType>
      </element>
      <element minOccurs="0" name="speciesCommonality" nillable="true">
        <annotation>
          <documentation>-- Definition --&#13;
A simple code indicating how common or rare the species is in the aggregation unit.  This should only be used if a specific numerical or range value is not available.</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="sd:SpeciesCommonalityValueType">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="SpeciesPopulationTypePropertyType">
    <sequence>
      <element ref="sd:SpeciesPopulationType"/>
    </sequence>
  </complexType>
  <element abstract="true" name="SpeciesAggregationUnit" substitutionGroup="gml:AbstractFeature" type="sd:SpeciesAggregationUnitType">
    <annotation>
      <documentation>-- Definition --&#13;
The aggregation unit over which the species is distributed.  This model only includes ProtectedSite as an aggregation unit, but others may be added in the future (for example, administrative units and grid units).</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="SpeciesAggregationUnitType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="hasSpecies" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --&#13;
The distribution of species over the particular aggregation unit.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">sd:SpeciesDistribution</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">sd:coversUnit</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="isAggregatedOver" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --&#13;
The region, administative or analytical unit over which the species distribution is aggregated.  &#13;
&#13;
-- Description --&#13;
A species distribution may be aggregated over a number of different types of units for different purposes.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">ps-f:ProtectedSite</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">ps-f:isASpeciesAggregationUnit</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SpeciesAggregationUnitPropertyType">
    <sequence minOccurs="0">
      <element ref="sd:SpeciesAggregationUnit"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="IsolationValueType">
    <annotation>
      <documentation>-- Definition --&#13;
A set of codes to represent the degree of isolation present in the aggregation unit in relation to the natural range of the species.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="populationIsolated">
        <annotation>
          <documentation>-- Definition --&#13;
The population is isolated or almost isolated.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="populationNotIsolatedButMarginal">
        <annotation>
          <documentation>-- Definition --&#13;
The population is not isolated, but on the margins of the area of distribution.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="populationNotIsolatedAndInExtendedRange">
        <annotation>
          <documentation>-- Definition --&#13;
The population is not isolated and is within an extended distribution range.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="RangeType" substitutionGroup="gml:AbstractObject" type="sd:RangeTypeType">
    <annotation>
      <documentation>-- Definition --&#13;
A data type expressing an upper and lower range.</documentation>
    </annotation>
  </element>
  <complexType name="RangeTypeType">
    <sequence>
      <element minOccurs="0" name="upperBound" nillable="true">
        <annotation>
          <documentation>-- Definition --&#13;
The upper bound of the range.  If the value of this attribute is null and lowerBound is populated, this implies that the value is between the lowerBound and infinity.</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="integer">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element minOccurs="0" name="lowerBound" nillable="true">
        <annotation>
          <documentation>-- Definition --&#13;
The lower bound of the range.  If the value of this attribute is null and upperBound is populated, this implies that the value is between the upperBound and zero.</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="integer">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="RangeTypePropertyType">
    <sequence>
      <element ref="sd:RangeType"/>
    </sequence>
  </complexType>
  <element name="SpeciesDistribution" substitutionGroup="gml:AbstractFeature" type="sd:SpeciesDistributionType">
    <annotation>
      <documentation>-- Definition --&#13;
The geographical distribution of occurrence of animal or plant species aggregated by grid, region, administrative unit or other analytical unit.&#13;
&#13;
-- Description --&#13;
NOTE Many other attributes may be added to this class when the theme is properly developed as part of Annex III. Currently, only those attributes needed to support the Protected Sites theme in Annex I are included.</documentation>
    </annotation>
  </element>
  <complexType name="SpeciesDistributionType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="inspireID" type="base:IdentifierPropertyType">
            <annotation>
              <documentation>-- Definition --&#13;
External object identifier of the protected site.&#13;
&#13;
-- Description --&#13;
NOTE An external object identifier is a unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object. The identifier is an identifier of the spatial object, not an identifier of the real-world phenomenon.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="residentPopulation" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The population of the species in the aggregation unit.  This may be a single number, a range, a lower or upper limit or a character from SpeciesPopulationType.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="sd:SpeciesPopulationType"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element minOccurs="0" name="breedingPopulation" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The population of the species that is breeding in the aggregation unit.  This may be a single number, a range, a lower or upper limit or a character from SpeciesPopulationType.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="sd:SpeciesPopulationType"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element minOccurs="0" name="winteringPopulation" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The population of the species that is wintering in the aggregation unit.  This may be a single number, a range, a lower or upper limit or a character from SpeciesPopulationType.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="sd:SpeciesPopulationType"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element minOccurs="0" name="stagingPopulation" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The population of the species that is migrating or moulting temporarily in the aggregation unit.  This may be a single number, a range, a lower or upper limit or a character from SpeciesPopulationType.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="sd:SpeciesPopulationType"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element minOccurs="0" name="isolation" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The degree of isolation of the population present in the aggregation unit in relation to the natural range of the species.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="sd:IsolationValueType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="species" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The species type from Annex II of the Habitat Directive and Annex I and reference list for Article 4(2) of the Birds Directive.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="sd:SpeciesTypeValueType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="beginLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.&#13;
&#13;
-- Description --&#13;
NOTE This date is recorded to enable the generation of change only update files.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="unlistedSpecies" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
The type of species in the aggregation unit, if not included in the Species Type code list.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="sd:UnlistedSpeciesType"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --&#13;
Date and time at which this version of the spatial object was superseded or retired in the spatial data set.&#13;
&#13;
-- Description --&#13;
NOTE This date is recorded primarily for those systems which "close" an entry in the spatial data set in the event of an attribute change.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="existsInHabitat" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --&#13;
The habitat within which the species lives.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">hb:HabitatSpeciesType</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">hb:hasSpecies</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="coversUnit" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --&#13;
The unit that the species is distributed over.  A number of different types of aggregation unit are possible.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">sd:SpeciesAggregationUnit</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">sd:hasSpecies</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SpeciesDistributionPropertyType">
    <sequence minOccurs="0">
      <element ref="sd:SpeciesDistribution"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="UnlistedSpeciesType" substitutionGroup="gml:AbstractObject" type="sd:UnlistedSpeciesTypeType">
    <annotation>
      <documentation>-- Definition --&#13;
A species type that appears in the aggregation unit and must be recorded &#13;
for some reason, but that is not one of the species types listed in the SpeciesType codelist (from associated Birds and HabitatDirectives).  &#13;
&#13;
-- Description --&#13;
Such unlisted types should not be included simply because they occur, but only if their recording is needed for some reason (for example, if they are protected).</documentation>
    </annotation>
  </element>
  <complexType name="UnlistedSpeciesTypeType">
    <sequence>
      <element name="speciesGroup" type="sd:SpeciesGroupValueType">
        <annotation>
          <documentation>-- Definition --&#13;
The broad group within which the species falls.</documentation>
        </annotation>
      </element>
      <element name="speciesType" type="string">
        <annotation>
          <documentation>-- Definition --&#13;
The type of species, if not included in the predefined types in SpeciesType.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="reasonForListing" nillable="true">
        <annotation>
          <documentation>-- Definition --&#13;
The motivation for including the species type in the assessment.  This may relate to some particular convention or the endemic nature of the population.</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="sd:SpeciesListingReasonValueType">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="UnlistedSpeciesTypePropertyType">
    <sequence>
      <element ref="sd:UnlistedSpeciesType"/>
    </sequence>
  </complexType>
  <simpleType name="SpeciesGroupValueType">
    <annotation>
      <documentation>-- Definition --&#13;
A code indicating the broad group within which the species falls.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="birds">
        <annotation>
          <documentation>-- Definition --&#13;
The species is a type of bird.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mammals">
        <annotation>
          <documentation>-- Definition --&#13;
The species is a type of mammal.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="amphibians">
        <annotation>
          <documentation>-- Definition --&#13;
The species is a type of amphibian.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="reptiles">
        <annotation>
          <documentation>-- Definition --&#13;
The species is a type of reptile.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fish">
        <annotation>
          <documentation>-- Definition --&#13;
The species is a type of fish.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="invertebrates">
        <annotation>
          <documentation>-- Definition --&#13;
The species is a type of invertebrate.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="plants">
        <annotation>
          <documentation>-- Definition --&#13;
The species is a type of plant.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
</schema>
