legacy/plugins/cst-wps/trunk/src/main/webapp/xsds/AU/AdministrativeUnits.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:AU="urn:x-inspire:specification:gmlas-v31:AdministrativeUnits:2.0" xmlns:GN="urn:x-inspire:specification:gmlas-v31:GeographicalNames:2.0" xmlns:base="urn:x-inspire:specification:gmlas-v31:BaseTypes:3.1" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml" elementFormDefault="qualified" targetNamespace="urn:x-inspire:specification:gmlas-v31:AdministrativeUnits:2.0" version="2.0">
  <import namespace="http://www.opengis.net/gml" schemaLocation="../gml/3.1.1/gml.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas-v31:GeographicalNames:2.0" schemaLocation="../GN/GeographicalNames.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas-v31:BaseTypes:3.1" schemaLocation="../GCM/BaseTypes.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../iso/19139/20070417/gmd/gmd.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <simpleType name="BoundaryStatusTypeType">
    <restriction base="string">
      <enumeration value="1"/>
      <enumeration value="2"/>
      <enumeration value="3"/>
    </restriction>
  </simpleType>
  <element name="ResidenceOfAuthority" substitutionGroup="gml:_Object" type="AU:ResidenceOfAuthorityType"/>
  <complexType name="ResidenceOfAuthorityType">
    <sequence>
      <element name="name" nillable="true">
        <complexType>
          <complexContent>
            <extension base="GN:GeographicalNamePropertyType">
              <attribute name="nilReason" type="gml:NullType"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element name="representationalPoint" nillable="true" type="gml:PointPropertyType"/>
    </sequence>
  </complexType>
  <complexType name="ResidenceOfAuthorityPropertyType">
    <sequence>
      <element ref="AU:ResidenceOfAuthority"/>
    </sequence>
  </complexType>
  <simpleType name="CoastlineTypeType">
    <restriction base="string">
      <enumeration value="Coastline coastal waters"/>
      <enumeration value="Coastline/shoreline inland waters"/>
    </restriction>
  </simpleType>
  <simpleType name="MeaningOfLineTypeType">
    <restriction base="string">
      <enumeration value="1"/>
      <enumeration value="7"/>
      <enumeration value="9"/>
    </restriction>
  </simpleType>
  <simpleType name="NUTSLevelTypeType">
    <restriction base="string">
      <enumeration value="NUTS 1 Level"/>
      <enumeration value="NUTS 2 Level"/>
      <enumeration value="NUTS 3 Level"/>
    </restriction>
  </simpleType>
  <simpleType name="AdministrativeHierarchyLevelType">
    <restriction base="string">
      <enumeration value="1"/>
      <enumeration value="2"/>
      <enumeration value="3"/>
      <enumeration value="4"/>
      <enumeration value="5"/>
      <enumeration value="6"/>
    </restriction>
  </simpleType>
  <element name="AdministrativeBoundary" substitutionGroup="AU:Boundary" type="AU:AdministrativeBoundaryType"/>
  <complexType name="AdministrativeBoundaryType">
    <complexContent>
      <extension base="AU:BoundaryType">
        <sequence>
          <element name="boundaryLevel" type="AU:BoundaryLevelTypeType"/>
          <element name="boundaryStatus" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="AU:BoundaryStatusTypeType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="meaningOfLine" type="AU:MeaningOfLineTypeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AdministrativeBoundaryPropertyType">
    <sequence minOccurs="0">
      <element ref="AU:AdministrativeBoundary"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="Boundary" substitutionGroup="gml:_Feature" type="AU:BoundaryType"/>
  <complexType abstract="true" name="BoundaryType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="2" name="admArea" nillable="true" type="gml:ReferenceType"/>
          <element maxOccurs="unbounded" name="admUnit" nillable="true" type="gml:ReferenceType"/>
          <element name="geometry" type="gml:CurvePropertyType"/>
          <element name="id" type="base:IdentifierPropertyType"/>
          <element name="country" type="gmd:Country_PropertyType"/>
          <element name="beginLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="validFrom" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="validTo" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BoundaryPropertyType">
    <sequence minOccurs="0">
      <element ref="AU:Boundary"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="AdministrativeUnitUpperLevel" substitutionGroup="AU:AdministrativeUnit" type="AU:AdministrativeUnitUpperLevelType"/>
  <complexType name="AdministrativeUnitUpperLevelType">
    <complexContent>
      <extension base="AU:AdministrativeUnitType">
        <sequence>
          <element maxOccurs="unbounded" name="lowerLevelUnit" nillable="true" type="gml:ReferenceType"/>
          <element minOccurs="0" name="geometry" type="gml:MultiSurfacePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AdministrativeUnitUpperLevelPropertyType">
    <sequence minOccurs="0">
      <element ref="AU:AdministrativeUnitUpperLevel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <simpleType name="AdministrativeAreaTypeType">
    <restriction base="string">
      <enumeration value="1"/>
      <enumeration value="3"/>
      <enumeration value="4"/>
    </restriction>
  </simpleType>
  <element name="AdministrativeUnitLowestLevel" substitutionGroup="AU:AdministrativeUnit" type="AU:AdministrativeUnitLowestLevelType"/>
  <complexType name="AdministrativeUnitLowestLevelType">
    <complexContent>
      <extension base="AU:AdministrativeUnitType">
        <sequence>
          <element maxOccurs="unbounded" name="administrativeArea" type="gml:ReferenceType"/>
          <element maxOccurs="3" name="NUTS" type="gml:ReferenceType"/>
          <element minOccurs="0" name="geometry" type="gml:MultiSurfacePropertyType"/>
          <element minOccurs="0" name="LAUcode" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AdministrativeUnitLowestLevelPropertyType">
    <sequence minOccurs="0">
      <element ref="AU:AdministrativeUnitLowestLevel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AdministrativeUnit" substitutionGroup="gml:_Feature" type="AU:AdministrativeUnitType"/>
  <complexType abstract="true" name="AdministrativeUnitType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="upperLevelUnit" nillable="true" type="gml:ReferenceType"/>
          <element maxOccurs="unbounded" name="boundary" nillable="true" type="gml:ReferenceType"/>
          <element name="SHNcode" type="string"/>
          <element name="id" type="base:IdentifierPropertyType"/>
          <element name="nationalLevel" type="AU:AdministrativeHierarchyLevelType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="nationalLevelName" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="country" type="gmd:Country_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="name" type="GN:GeographicalNamePropertyType"/>
          <element name="beginLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="validFrom" type="dateTime"/>
          <element minOccurs="0" name="validTo" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="residenceOfAuthority" nillable="true">
            <complexType>
              <sequence>
                <element ref="AU:ResidenceOfAuthority"/>
              </sequence>
              <attribute name="nilReason" type="gml:NullType"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AdministrativeUnitPropertyType">
    <sequence minOccurs="0">
      <element ref="AU:AdministrativeUnit"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="AdministrativeUnitArea" substitutionGroup="gml:_Feature" type="AU:AdministrativeUnitAreaType"/>
  <complexType name="AdministrativeUnitAreaType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" name="boundary" nillable="true" type="gml:ReferenceType"/>
          <element maxOccurs="unbounded" name="administrativeUnit" type="gml:ReferenceType"/>
          <element name="geometry" type="gml:SurfacePropertyType"/>
          <element name="id" type="base:IdentifierPropertyType"/>
          <element name="administrativeAreaType" type="AU:AdministrativeAreaTypeType"/>
          <element name="beginLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="landCoverType" type="AU:LandCoverTypeType"/>
          <element name="validFrom" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="validTo" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AdministrativeUnitAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="AU:AdministrativeUnitArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <simpleType name="LandCoverTypeType">
    <restriction base="string">
      <enumeration value="Land area"/>
      <enumeration value="Coastal water"/>
      <enumeration value="Inland water"/>
    </restriction>
  </simpleType>
  <element name="NUTSRegion" substitutionGroup="gml:_Feature" type="AU:NUTSRegionType"/>
  <complexType name="NUTSRegionType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" name="admUnit" nillable="true" type="gml:ReferenceType"/>
          <element minOccurs="0" name="geometry" nillable="true" type="gml:MultiSurfacePropertyType"/>
          <element name="id" type="base:IdentifierPropertyType"/>
          <element name="NUTScode" type="string"/>
          <element name="NUTSlabel" type="string"/>
          <element name="NUTSLevel" type="AU:NUTSLevelTypeType"/>
          <element name="beginLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="validFrom" type="dateTime"/>
          <element minOccurs="0" name="validTo" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NUTSRegionPropertyType">
    <sequence minOccurs="0">
      <element ref="AU:NUTSRegion"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <simpleType name="BoundaryLevelTypeType">
    <restriction base="string">
      <enumeration value="1"/>
      <enumeration value="2"/>
      <enumeration value="3"/>
      <enumeration value="4"/>
      <enumeration value="5"/>
      <enumeration value="6"/>
    </restriction>
  </simpleType>
  <element name="Coastline" substitutionGroup="AU:Boundary" type="AU:CoastlineType"/>
  <complexType name="CoastlineType">
    <complexContent>
      <extension base="AU:BoundaryType">
        <sequence>
          <element name="type" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="AU:CoastlineTypeType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CoastlinePropertyType">
    <sequence minOccurs="0">
      <element ref="AU:Coastline"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
</schema>
