hale/eu.esdihumboldt.hale.io.xsd.test/src/testdata/definitive/chapter03prod2.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://example.org/prod2"
            xmlns="http://example.org/prod2">

  <xs:element name="color" type="ColorType"/>

  <xs:complexType name="ColorType">
    <xs:attribute name="value" type="xs:string"
                   form="qualified"/>
  </xs:complexType>

</xs:schema>