cst/cst-wps/tags/cst-wps-1.0/src/main/webapp/xsds/CP/CadastralParcels.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:CP="urn:x-inspire:specification:gmlas-v31:CadastralParcels:2.0" xmlns:GN="urn:x-inspire:specification:gmlas-v31:GeographicalNames:2.0" xmlns:base="urn:x-inspire:specification:gmlas-v31:BaseTypes:3.1" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml" elementFormDefault="qualified" targetNamespace="urn:x-inspire:specification:gmlas-v31:CadastralParcels:2.0" version="2.0">
  <import namespace="http://www.opengis.net/gml" schemaLocation="../gml/3.1.1/gml.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas-v31:BaseTypes:3.1" schemaLocation="../GCM/BaseTypes.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas-v31:GeographicalNames:2.0" schemaLocation="../GN/GeographicalNames.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../iso/19139/20070417/gmd/gmd.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="CadastralBoundary" substitutionGroup="gml:_Feature" type="CP:CadastralBoundaryType"/>
  <complexType name="CadastralBoundaryType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="2" name="parcel" nillable="true" type="gml:ReferenceType"/>
          <element name="geometry" type="gml:CurvePropertyType"/>
          <element name="inspireId" type="base:IdentifierPropertyType"/>
          <element name="estimatedAccuracy" type="gml:LengthType"/>
          <element minOccurs="0" name="topology" nillable="true" type="gml:DirectedEdgePropertyType"/>
          <element name="beginLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CadastralBoundaryPropertyType">
    <sequence minOccurs="0">
      <element ref="CP:CadastralBoundary"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <simpleType name="CadastralIndexSetLevelType">
    <restriction base="string">
      <enumeration value="1"/>
      <enumeration value="2"/>
      <enumeration value="3"/>
    </restriction>
  </simpleType>
  <element name="CadastralParcel" substitutionGroup="gml:_Feature" type="CP:CadastralParcelType"/>
  <complexType name="CadastralParcelType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="indexSet" nillable="true" type="gml:ReferenceType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="boundary" nillable="true" type="gml:ReferenceType"/>
          <element minOccurs="0" name="AU_admUnit" nillable="true" type="gml:ReferenceType"/>
          <element name="geometry" type="gml:SurfacePropertyType"/>
          <element name="inspireId" type="base:IdentifierPropertyType"/>
          <element name="nationalCadastralReference" type="string"/>
          <element name="nationalCalculatedArea" type="gml:AreaType"/>
          <element minOccurs="0" name="referencePoint" nillable="true" type="gml:PointPropertyType"/>
          <element minOccurs="0" name="originalMapScaleDenominator" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="integer">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="estimatedAccuracy" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:LengthType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="label" type="string"/>
          <element minOccurs="0" name="topology" nillable="true" type="gml:DirectedFacePropertyType"/>
          <element name="beginLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CadastralParcelPropertyType">
    <sequence minOccurs="0">
      <element ref="CP:CadastralParcel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="CadastralIndexSet" substitutionGroup="gml:_Feature" type="CP:CadastralIndexSetType"/>
  <complexType name="CadastralIndexSetType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="lowerLevelUnit" nillable="true" type="gml:ReferenceType"/>
          <element minOccurs="0" name="upperLevelUnit" nillable="true" type="gml:ReferenceType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="parcel" nillable="true" type="gml:ReferenceType"/>
          <element name="geometry" type="gml:SurfacePropertyType"/>
          <element name="inspireId" type="base:IdentifierPropertyType"/>
          <element name="nationalCadastalIndexSetReference" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="name" nillable="true">
            <complexType>
              <complexContent>
                <extension base="GN:GeographicalNamePropertyType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element name="level" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="CP:CadastralIndexSetLevelType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" name="levelName" nillable="true" type="gmd:LocalisedCharacterString_PropertyType"/>
          <element minOccurs="0" name="referencePoint" nillable="true" type="gml:PointPropertyType"/>
          <element name="label" type="string"/>
          <element minOccurs="0" name="originalMapScaleDenominator" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="integer">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="estimatedAccuracy" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:LengthType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="beginLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CadastralIndexSetPropertyType">
    <sequence minOccurs="0">
      <element ref="CP:CadastralIndexSet"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
</schema>
