legacy/plugins/cst-wps/tags/cst-wps-1.0/src/main/webapp/xsds/TN/TransportNetworks-Water.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:TN="urn:x-inspire:specification:gmlas-v31:TransportNetworks-Common:2.0" xmlns:WaterTN="urn:x-inspire:specification:gmlas-v31:TransportNetworks-Water:2.0" xmlns:gml="http://www.opengis.net/gml" elementFormDefault="qualified" targetNamespace="urn:x-inspire:specification:gmlas-v31:TransportNetworks-Water:2.0" version="2.0">
  <import namespace="urn:x-inspire:specification:gmlas-v31:TransportNetworks-Common:2.0" schemaLocation="TransportNetworks-Common.xsd"/>
  <import namespace="http://www.opengis.net/gml" schemaLocation="../gml/3.1.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <simpleType name="CEMTClassValuesType">
    <restriction base="string">
      <enumeration value="1"/>
      <enumeration value="2"/>
      <enumeration value="3"/>
      <enumeration value="4"/>
      <enumeration value="5"/>
      <enumeration value="6"/>
      <enumeration value="7"/>
      <enumeration value="8"/>
      <enumeration value="9"/>
      <enumeration value="10"/>
    </restriction>
  </simpleType>
  <element name="FerryCrossing" substitutionGroup="WaterTN:Waterway" type="WaterTN:FerryCrossingType"/>
  <complexType name="FerryCrossingType">
    <complexContent>
      <extension base="WaterTN:WaterwayType">
        <sequence>
          <element maxOccurs="unbounded" name="ferryUse" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FerryCrossingPropertyType">
    <sequence minOccurs="0">
      <element ref="WaterTN:FerryCrossing"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="PortNode" substitutionGroup="WaterTN:WaterNode" type="WaterTN:PortNodeType"/>
  <complexType name="PortNodeType">
    <complexContent>
      <extension base="WaterTN:WaterNodeType">
        <sequence>
          <element name="conditionOfFacility" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="TN:ConditionOfFacilityValuesType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PortNodePropertyType">
    <sequence minOccurs="0">
      <element ref="WaterTN:PortNode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="Waterway" substitutionGroup="TN:AggregatedTransportLink" type="WaterTN:WaterwayType"/>
  <complexType name="WaterwayType">
    <complexContent>
      <extension base="TN:AggregatedTransportLinkType">
        <sequence>
          <element name="CEMTClass" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="WaterTN:CEMTClassValuesType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WaterwayPropertyType">
    <sequence minOccurs="0">
      <element ref="WaterTN:Waterway"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="PortArea" substitutionGroup="TN:TransportArea" type="WaterTN:PortAreaType"/>
  <complexType name="PortAreaType">
    <complexContent>
      <extension base="TN:TransportAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PortAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="WaterTN:PortArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="WaterNode" substitutionGroup="TN:TransportNode" type="WaterTN:WaterNodeType"/>
  <complexType abstract="true" name="WaterNodeType">
    <complexContent>
      <extension base="TN:TransportNodeType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WaterNodePropertyType">
    <sequence minOccurs="0">
      <element ref="WaterTN:WaterNode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="WaterwayNode" substitutionGroup="WaterTN:WaterNode" type="WaterTN:WaterwayNodeType"/>
  <complexType name="WaterwayNodeType">
    <complexContent>
      <extension base="WaterTN:WaterNodeType">
        <sequence>
          <element name="formOfWaterwayNode" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WaterwayNodePropertyType">
    <sequence minOccurs="0">
      <element ref="WaterTN:WaterwayNode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="WaterwayLink" substitutionGroup="TN:TransportLink" type="WaterTN:WaterwayLinkType"/>
  <complexType name="WaterwayLinkType">
    <complexContent>
      <extension base="TN:TransportLinkType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WaterwayLinkPropertyType">
    <sequence minOccurs="0">
      <element ref="WaterTN:WaterwayLink"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
</schema>
