cst/plugins/eu.esdihumboldt.cst.test/src/testdata/simplerename/t1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/t1/" targetNamespace="http://www.example.org/t1/">
    <complexType name="T1">
    	<sequence>
    		<element name="a1" type="string" maxOccurs="1" minOccurs="1"></element>
    		<element name="b1" type="string" maxOccurs="1" minOccurs="1"></element>
    		<element name="c1" type="string" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    	<attribute name="id" type="string"></attribute>
    </complexType>

    <element name="t1" type="tns:T1"></element>
</schema>