cst/cst-wps/trunk/src/test/resource/eu/esdihumboldt/web/TN/TransportNetworks-Road.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:RoadTN="urn:x-inspire:specification:gmlas-v31:TransportNetworks-Road:2.0" xmlns:TN="urn:x-inspire:specification:gmlas-v31:TransportNetworks-Common:2.0" xmlns:gml="http://www.opengis.net/gml" elementFormDefault="qualified" targetNamespace="urn:x-inspire:specification:gmlas-v31:TransportNetworks-Road:2.0" version="2.0">
  <import namespace="urn:x-inspire:specification:gmlas-v31:TransportNetworks-Common:2.0" schemaLocation="TransportNetworks-Common.xsd"/>
  <import namespace="http://www.opengis.net/gml" schemaLocation="../gml/3.1.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="FormOfWay" substitutionGroup="TN:TransportProperty" type="RoadTN:FormOfWayType"/>
  <complexType name="FormOfWayType">
    <complexContent>
      <extension base="TN:TransportPropertyType">
        <sequence>
          <element name="formOfWay" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FormOfWayPropertyType">
    <sequence minOccurs="0">
      <element ref="RoadTN:FormOfWay"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="VehicleTrafficArea" substitutionGroup="TN:TransportArea" type="RoadTN:VehicleTrafficAreaType"/>
  <complexType name="VehicleTrafficAreaType">
    <complexContent>
      <extension base="TN:TransportAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VehicleTrafficAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="RoadTN:VehicleTrafficArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <simpleType name="RoadSurfaceCategoryValuesType">
    <restriction base="string">
      <enumeration value="1"/>
      <enumeration value="2"/>
    </restriction>
  </simpleType>
  <element name="RoadNode" substitutionGroup="TN:TransportNode" type="RoadTN:RoadNodeType"/>
  <complexType name="RoadNodeType">
    <complexContent>
      <extension base="TN:TransportNodeType">
        <sequence>
          <element name="formOfNode" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadNodePropertyType">
    <sequence minOccurs="0">
      <element ref="RoadTN:RoadNode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="FunctionalRoadClass" substitutionGroup="TN:TransportProperty" type="RoadTN:FunctionalRoadClassType"/>
  <complexType name="FunctionalRoadClassType">
    <complexContent>
      <extension base="TN:TransportPropertyType">
        <sequence>
          <element name="functionalClass" type="RoadTN:FunctionalRoadClassValuesType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FunctionalRoadClassPropertyType">
    <sequence minOccurs="0">
      <element ref="RoadTN:FunctionalRoadClass"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="RoadArea" substitutionGroup="TN:TransportArea" type="RoadTN:RoadAreaType"/>
  <complexType name="RoadAreaType">
    <complexContent>
      <extension base="TN:TransportAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="RoadTN:RoadArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <simpleType name="VehicleTypeValuesType">
    <restriction base="string">
      <enumeration value="1"/>
      <enumeration value="2"/>
      <enumeration value="3"/>
      <enumeration value="4"/>
      <enumeration value="5"/>
      <enumeration value="6"/>
      <enumeration value="7"/>
      <enumeration value="8"/>
      <enumeration value="9"/>
      <enumeration value="10"/>
      <enumeration value="11"/>
      <enumeration value="12"/>
      <enumeration value="13"/>
      <enumeration value="14"/>
      <enumeration value="15"/>
      <enumeration value="16"/>
      <enumeration value="17"/>
      <enumeration value="18"/>
      <enumeration value="19"/>
      <enumeration value="20"/>
      <enumeration value="21"/>
      <enumeration value="22"/>
      <enumeration value="23"/>
      <enumeration value="24"/>
      <enumeration value="25"/>
      <enumeration value="26"/>
      <enumeration value="27"/>
      <enumeration value="28"/>
      <enumeration value="29"/>
    </restriction>
  </simpleType>
  <element name="RoadServiceArea" substitutionGroup="TN:TransportArea" type="RoadTN:RoadServiceAreaType"/>
  <complexType name="RoadServiceAreaType">
    <complexContent>
      <extension base="TN:TransportAreaType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="availableFacility" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="roadServiceType" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="RoadTN:RoadServiceTypeValuesType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadServiceAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="RoadTN:RoadServiceArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="TrafficFlowDirection" substitutionGroup="TN:TransportProperty" type="RoadTN:TrafficFlowDirectionType"/>
  <complexType name="TrafficFlowDirectionType">
    <complexContent>
      <extension base="TN:TransportPropertyType">
        <sequence>
          <element name="direction" type="RoadTN:DirectionValuesType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafficFlowDirectionPropertyType">
    <sequence minOccurs="0">
      <element ref="RoadTN:TrafficFlowDirection"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <simpleType name="DirectionValuesType">
    <restriction base="string">
      <enumeration value="1"/>
      <enumeration value="2"/>
      <enumeration value="3"/>
      <enumeration value="4"/>
    </restriction>
  </simpleType>
  <simpleType name="SpeedLimitSourceValuesType">
    <restriction base="string">
      <enumeration value="1"/>
      <enumeration value="2"/>
      <enumeration value="3"/>
    </restriction>
  </simpleType>
  <simpleType name="FunctionalRoadClassValuesType">
    <restriction base="string">
      <enumeration value="1"/>
      <enumeration value="2"/>
      <enumeration value="3"/>
      <enumeration value="4"/>
      <enumeration value="5"/>
      <enumeration value="6"/>
      <enumeration value="7"/>
      <enumeration value="8"/>
      <enumeration value="9"/>
      <enumeration value="10"/>
    </restriction>
  </simpleType>
  <element name="Road" substitutionGroup="TN:AggregatedTransportLink" type="RoadTN:RoadType"/>
  <complexType name="RoadType">
    <complexContent>
      <extension base="TN:AggregatedTransportLinkType">
        <sequence>
          <element minOccurs="0" name="europeanRoadCode" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="nationalRoadCode" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadPropertyType">
    <sequence minOccurs="0">
      <element ref="RoadTN:Road"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <simpleType name="RoadServiceTypeValuesType">
    <restriction base="string">
      <enumeration value="1"/>
      <enumeration value="2"/>
      <enumeration value="3"/>
      <enumeration value="4"/>
    </restriction>
  </simpleType>
  <simpleType name="SpeedLimitMinMaxValuesType">
    <restriction base="string">
      <enumeration value="1"/>
      <enumeration value="2"/>
      <enumeration value="3"/>
      <enumeration value="4"/>
    </restriction>
  </simpleType>
  <element name="SpeedLimit" substitutionGroup="TN:TransportProperty" type="RoadTN:SpeedLimitType"/>
  <complexType name="SpeedLimitType">
    <complexContent>
      <extension base="TN:TransportPropertyType">
        <sequence>
          <element minOccurs="0" name="areaCondition" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="direction" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="RoadTN:DirectionValuesType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="laneExtension" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="integer">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="speedLimitMinMaxType" type="RoadTN:SpeedLimitMinMaxValuesType"/>
          <element minOccurs="0" name="speedLimitSource" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="RoadTN:SpeedLimitSourceValuesType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="speedLimitValue" type="gml:SpeedType"/>
          <element minOccurs="0" name="startLane" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="integer">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="validityPeriod" nillable="true" type="gml:TimePeriodPropertyType"/>
          <element minOccurs="0" name="vehicleType" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="RoadTN:VehicleTypeValuesType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="weatherCondition" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SpeedLimitPropertyType">
    <sequence minOccurs="0">
      <element ref="RoadTN:SpeedLimit"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <simpleType name="MinMaxLaneValuesType">
    <restriction base="string">
      <enumeration value="1"/>
      <enumeration value="2"/>
      <enumeration value="3"/>
    </restriction>
  </simpleType>
  <element name="RoadLink" substitutionGroup="TN:TransportLink" type="RoadTN:RoadLinkType"/>
  <complexType name="RoadLinkType">
    <complexContent>
      <extension base="TN:TransportLinkType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="addressComponent" nillable="true" type="gml:ReferenceType"/>
          <element name="fictitious" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="boolean">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadLinkPropertyType">
    <sequence minOccurs="0">
      <element ref="RoadTN:RoadLink"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="RoadSurfaceCategory" substitutionGroup="TN:TransportProperty" type="RoadTN:RoadSurfaceCategoryType"/>
  <complexType name="RoadSurfaceCategoryType">
    <complexContent>
      <extension base="TN:TransportPropertyType">
        <sequence>
          <element name="surfaceCategory" type="RoadTN:RoadSurfaceCategoryValuesType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadSurfaceCategoryPropertyType">
    <sequence minOccurs="0">
      <element ref="RoadTN:RoadSurfaceCategory"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="NumberOfLanes" substitutionGroup="TN:TransportProperty" type="RoadTN:NumberOfLanesType"/>
  <complexType name="NumberOfLanesType">
    <complexContent>
      <extension base="TN:TransportPropertyType">
        <sequence>
          <element name="direction" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="RoadTN:DirectionValuesType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="minMaxNumberOfLanes" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="RoadTN:MinMaxLaneValuesType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="numberOfLanes" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NumberOfLanesPropertyType">
    <sequence minOccurs="0">
      <element ref="RoadTN:NumberOfLanes"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="RoadLinkThoroughfare" substitutionGroup="gml:_Object" type="RoadTN:RoadLinkThoroughfareType"/>
  <complexType name="RoadLinkThoroughfareType">
    <sequence>
      <element name="road" nillable="true" type="gml:ReferenceType"/>
      <element name="addressComponent" nillable="true" type="gml:ReferenceType"/>
      <element name="roadLinkDirection" nillable="true">
        <complexType>
          <simpleContent>
            <extension base="RoadTN:DirectionValuesType">
              <attribute name="nilReason" type="gml:NullType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="RoadLinkThoroughfarePropertyType">
    <sequence>
      <element ref="RoadTN:RoadLinkThoroughfare"/>
    </sequence>
  </complexType>
  <element name="RoadWidth" substitutionGroup="TN:TransportProperty" type="RoadTN:RoadWidthType"/>
  <complexType name="RoadWidthType">
    <complexContent>
      <extension base="TN:TransportPropertyType">
        <sequence>
          <element name="width" type="gml:MeasureType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadWidthPropertyType">
    <sequence minOccurs="0">
      <element ref="RoadTN:RoadWidth"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
</schema>
