cst/cst-wps/trunk/src/test/resource/eu/esdihumboldt/web/TN/TransportNetworks-Railway.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:RailTN="urn:x-inspire:specification:gmlas-v31:TransportNetworks-Railway:2.0" xmlns:TN="urn:x-inspire:specification:gmlas-v31:TransportNetworks-Common:2.0" xmlns:gml="http://www.opengis.net/gml" elementFormDefault="qualified" targetNamespace="urn:x-inspire:specification:gmlas-v31:TransportNetworks-Railway:2.0" version="2.0">
  <import namespace="urn:x-inspire:specification:gmlas-v31:TransportNetworks-Common:2.0" schemaLocation="TransportNetworks-Common.xsd"/>
  <import namespace="http://www.opengis.net/gml" schemaLocation="../gml/3.1.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="CablewayTower" substitutionGroup="RailTN:CablewayNode" type="RailTN:CablewayTowerType"/>
  <complexType name="CablewayTowerType">
    <complexContent>
      <extension base="RailTN:CablewayNodeType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CablewayTowerPropertyType">
    <sequence minOccurs="0">
      <element ref="RailTN:CablewayTower"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="RailwayYardNode" substitutionGroup="RailTN:RailwayNode" type="RailTN:RailwayYardNodeType"/>
  <complexType name="RailwayYardNodeType">
    <complexContent>
      <extension base="RailTN:RailwayNodeType">
        <sequence>
          <element name="RailwayYardCode" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayYardNodePropertyType">
    <sequence minOccurs="0">
      <element ref="RailTN:RailwayYardNode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <simpleType name="RailwayGaugeCategoryValuesType">
    <restriction base="string">
      <enumeration value="1"/>
      <enumeration value="2"/>
      <enumeration value="3"/>
      <enumeration value="4"/>
      <enumeration value="5"/>
    </restriction>
  </simpleType>
  <element name="RailwayNode" substitutionGroup="TN:TransportNode" type="RailTN:RailwayNodeType"/>
  <complexType name="RailwayNodeType">
    <complexContent>
      <extension base="TN:TransportNodeType">
        <sequence>
          <element name="formOfNode" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayNodePropertyType">
    <sequence minOccurs="0">
      <element ref="RailTN:RailwayNode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="CablewayLink" substitutionGroup="TN:TransportLink" type="RailTN:CablewayLinkType"/>
  <complexType name="CablewayLinkType">
    <complexContent>
      <extension base="TN:TransportLinkType">
        <sequence>
          <element name="cablewayType" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="RailTN:CablewayTypeValuesType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CablewayLinkPropertyType">
    <sequence minOccurs="0">
      <element ref="RailTN:CablewayLink"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="RailwayLink" substitutionGroup="TN:TransportLink" type="RailTN:RailwayLinkType"/>
  <complexType name="RailwayLinkType">
    <complexContent>
      <extension base="TN:TransportLinkType">
        <sequence>
          <element name="designSpeed" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:MeasureType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="electrifiedRailwayLink" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="boolean">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="numberOfTracks" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="integer">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="railwayType" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayLinkPropertyType">
    <sequence minOccurs="0">
      <element ref="RailTN:RailwayLink"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="RailwayUse" substitutionGroup="TN:TransportProperty" type="RailTN:RailwayUseType"/>
  <complexType name="RailwayUseType">
    <complexContent>
      <extension base="TN:TransportPropertyType">
        <sequence>
          <element name="use" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayUsePropertyType">
    <sequence minOccurs="0">
      <element ref="RailTN:RailwayUse"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="RailwayGauge" substitutionGroup="TN:TransportProperty" type="RailTN:RailwayGaugeType"/>
  <complexType name="RailwayGaugeType">
    <complexContent>
      <extension base="TN:TransportPropertyType">
        <sequence>
          <element minOccurs="0" name="gauge" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:MeasureType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="gaugeCategory" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="RailTN:RailwayGaugeCategoryValuesType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayGaugePropertyType">
    <sequence minOccurs="0">
      <element ref="RailTN:RailwayGauge"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="RailwayLine" substitutionGroup="TN:AggregatedTransportLink" type="RailTN:RailwayLineType"/>
  <complexType name="RailwayLineType">
    <complexContent>
      <extension base="TN:AggregatedTransportLinkType">
        <sequence>
          <element name="railwayLineCode" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayLinePropertyType">
    <sequence minOccurs="0">
      <element ref="RailTN:RailwayLine"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="CablewayNode" substitutionGroup="TN:TransportNode" type="RailTN:CablewayNodeType"/>
  <complexType name="CablewayNodeType">
    <complexContent>
      <extension base="TN:TransportNodeType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CablewayNodePropertyType">
    <sequence minOccurs="0">
      <element ref="RailTN:CablewayNode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="RailwayStationArea" substitutionGroup="TN:TransportArea" type="RailTN:RailwayStationAreaType"/>
  <complexType name="RailwayStationAreaType">
    <complexContent>
      <extension base="TN:TransportAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayStationAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="RailTN:RailwayStationArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <simpleType name="CablewayTypeValuesType">
    <restriction base="string">
      <enumeration value="1"/>
      <enumeration value="2"/>
      <enumeration value="3"/>
      <enumeration value="4"/>
      <enumeration value="5"/>
    </restriction>
  </simpleType>
  <element name="RailwayStationNode" substitutionGroup="RailTN:RailwayNode" type="RailTN:RailwayStationNodeType"/>
  <complexType name="RailwayStationNodeType">
    <complexContent>
      <extension base="RailTN:RailwayNodeType">
        <sequence>
          <element name="numberOfPlatforms" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="integer">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="stationCode" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayStationNodePropertyType">
    <sequence minOccurs="0">
      <element ref="RailTN:RailwayStationNode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="RailwayArea" substitutionGroup="TN:TransportArea" type="RailTN:RailwayAreaType"/>
  <complexType name="RailwayAreaType">
    <complexContent>
      <extension base="TN:TransportAreaType">
        <sequence>
          <element name="function" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="RailTN:RailwayArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
</schema>
