hale/Client/resources/D2.8-I_GML-Application-Schemas_v2.0-GML3.1.1/TN/TransportNetworks-Air.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:AirTN="urn:x-inspire:specification:gmlas-v31:TransportNetworks-Air:2.0" xmlns:TN="urn:x-inspire:specification:gmlas-v31:TransportNetworks-Common:2.0" xmlns:gml="http://www.opengis.net/gml" elementFormDefault="qualified" targetNamespace="urn:x-inspire:specification:gmlas-v31:TransportNetworks-Air:2.0" version="2.0">
  <import namespace="urn:x-inspire:specification:gmlas-v31:TransportNetworks-Common:2.0" schemaLocation="TransportNetworks-Common.xsd"/>
  <import namespace="http://www.opengis.net/gml" schemaLocation="../gml/3.1.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="ControlTower" substitutionGroup="gml:_Feature" type="AirTN:ControlTowerType"/>
  <complexType name="ControlTowerType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="airport/heliport" nillable="true" type="gml:ReferenceType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ControlTowerPropertyType">
    <sequence minOccurs="0">
      <element ref="AirTN:ControlTower"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AirSpaceArea" substitutionGroup="TN:TransportArea" type="AirTN:AirSpaceAreaType"/>
  <complexType abstract="true" name="AirSpaceAreaType">
    <complexContent>
      <extension base="TN:TransportAreaType">
        <sequence>
          <element name="AirSpaceAreaClass" type="gml:CodeType"/>
          <element name="lowerAltitudeLimit" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:MeasureType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="upperAltitudeLimit" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:MeasureType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AirSpaceAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="AirTN:AirSpaceArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="RadioBeacon" substitutionGroup="AirTN:AirSignificantPoint" type="AirTN:RadioBeaconType"/>
  <complexType name="RadioBeaconType">
    <complexContent>
      <extension base="AirTN:AirSignificantPointType">
        <sequence>
          <element name="RadioBeaconClass" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RadioBeaconPropertyType">
    <sequence minOccurs="0">
      <element ref="AirTN:RadioBeacon"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="AerodromeNode" substitutionGroup="AirTN:AirNode" type="AirTN:AerodromeNodeType"/>
  <complexType name="AerodromeNodeType">
    <complexContent>
      <extension base="AirTN:AirNodeType">
        <sequence>
          <element name="aerodromeCategory" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="AirTN:AerodromeCategoryValuesType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="aerodromeElevation" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:MeasureType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="conditionOfFacility" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="TN:ConditionOfFacilityValuesType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="iataCode" type="string"/>
          <element name="icaoCode" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AerodromeNodePropertyType">
    <sequence minOccurs="0">
      <element ref="AirTN:AerodromeNode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="AerodromeArea" substitutionGroup="TN:TransportArea" type="AirTN:AerodromeAreaType"/>
  <complexType name="AerodromeAreaType">
    <complexContent>
      <extension base="TN:TransportAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AerodromeAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="AirTN:AerodromeArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <simpleType name="AirRouteClassValuesType">
    <restriction base="string">
      <enumeration value="1"/>
      <enumeration value="2"/>
    </restriction>
  </simpleType>
  <element name="DesignatedPoint" substitutionGroup="AirTN:AirSignificantPoint" type="AirTN:DesignatedPointType"/>
  <complexType name="DesignatedPointType">
    <complexContent>
      <extension base="AirTN:AirSignificantPointType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DesignatedPointPropertyType">
    <sequence minOccurs="0">
      <element ref="AirTN:DesignatedPoint"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <simpleType name="RunwayFunctionValuesType">
    <restriction base="string">
      <enumeration value="1"/>
      <enumeration value="2"/>
      <enumeration value="3"/>
    </restriction>
  </simpleType>
  <element name="StandardInstrumentDeparture" substitutionGroup="AirTN:AirConnector" type="AirTN:StandardInstrumentDepartureType"/>
  <complexType name="StandardInstrumentDepartureType">
    <complexContent>
      <extension base="AirTN:AirConnectorType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StandardInstrumentDeparturePropertyType">
    <sequence minOccurs="0">
      <element ref="AirTN:StandardInstrumentDeparture"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="AirRouteSegment" substitutionGroup="TN:TransportLink" type="AirTN:AirRouteSegmentType"/>
  <complexType name="AirRouteSegmentType">
    <complexContent>
      <extension base="TN:TransportLinkType">
        <sequence>
          <element name="lowestSafeAltitude" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:MeasureType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="upperAltitude" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:MeasureType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AirRouteSegmentPropertyType">
    <sequence minOccurs="0">
      <element ref="AirTN:AirRouteSegment"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <simpleType name="AerodromeCategoryValuesType">
    <restriction base="string">
      <enumeration value="1"/>
      <enumeration value="2"/>
      <enumeration value="3"/>
    </restriction>
  </simpleType>
  <element name="AirSignificantPoint" substitutionGroup="AirTN:AirNode" type="AirTN:AirSignificantPointType"/>
  <complexType name="AirSignificantPointType">
    <complexContent>
      <extension base="AirTN:AirNodeType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AirSignificantPointPropertyType">
    <sequence minOccurs="0">
      <element ref="AirTN:AirSignificantPoint"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="StandardArrivalRoute" substitutionGroup="AirTN:AirConnector" type="AirTN:StandardArrivalRouteType"/>
  <complexType name="StandardArrivalRouteType">
    <complexContent>
      <extension base="AirTN:AirConnectorType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StandardArrivalRoutePropertyType">
    <sequence minOccurs="0">
      <element ref="AirTN:StandardArrivalRoute"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="AirConnector" substitutionGroup="TN:TransportLink" type="AirTN:AirConnectorType"/>
  <complexType name="AirConnectorType">
    <complexContent>
      <extension base="TN:TransportLinkType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AirConnectorPropertyType">
    <sequence minOccurs="0">
      <element ref="AirTN:AirConnector"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="PublishedInstrumentApproachProcedure" substitutionGroup="AirTN:AirConnector" type="AirTN:PublishedInstrumentApproachProcedureType"/>
  <complexType name="PublishedInstrumentApproachProcedureType">
    <complexContent>
      <extension base="AirTN:AirConnectorType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PublishedInstrumentApproachProcedurePropertyType">
    <sequence minOccurs="0">
      <element ref="AirTN:PublishedInstrumentApproachProcedure"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="AirNode" substitutionGroup="TN:TransportNode" type="AirTN:AirNodeType"/>
  <complexType name="AirNodeType">
    <complexContent>
      <extension base="TN:TransportNodeType">
        <sequence>
          <element maxOccurs="unbounded" name="controlTowers" nillable="true" type="gml:ReferenceType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AirNodePropertyType">
    <sequence minOccurs="0">
      <element ref="AirTN:AirNode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="RunwayArea" substitutionGroup="TN:TransportArea" type="AirTN:RunwayAreaType"/>
  <complexType name="RunwayAreaType">
    <complexContent>
      <extension base="TN:TransportAreaType">
        <sequence>
          <element name="conditionOfFacility" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="TN:ConditionOfFacilityValuesType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="runwayCode" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="runwayFunction" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="AirTN:RunwayFunctionValuesType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="runwayLenght" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:MeasureType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="runwayWidth" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:MeasureType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="surfaceComposition" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RunwayAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="AirTN:RunwayArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="AirRoute" substitutionGroup="TN:AggregatedTransportLink" type="AirTN:AirRouteType"/>
  <complexType name="AirRouteType">
    <complexContent>
      <extension base="TN:AggregatedTransportLinkType">
        <sequence>
          <element name="airRouteClass" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="AirTN:AirRouteClassValuesType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="airRouteDesignator" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AirRoutePropertyType">
    <sequence minOccurs="0">
      <element ref="AirTN:AirRoute"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
</schema>
