legacy/plugins/eu.esdihumboldt.cst.iobridge/src/test/resource/eu/esdihumboldt/cst/iobridge/D2.8-I_GML-Application-Schemas_v2.0-GML3.1.1/PS/ProtectedSites.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:GN="urn:x-inspire:specification:gmlas-v31:GeographicalNames:2.0" xmlns:PS="urn:x-inspire:specification:gmlas-v31:ProtectedSites:2.0" xmlns:base="urn:x-inspire:specification:gmlas-v31:BaseTypes:3.1" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml" elementFormDefault="qualified" targetNamespace="urn:x-inspire:specification:gmlas-v31:ProtectedSites:2.0" version="2.0">
  <import namespace="http://www.opengis.net/gml" schemaLocation="../gml/3.1.1/gml.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas-v31:BaseTypes:3.1" schemaLocation="../GCM/BaseTypes.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../iso/19139/20070417/gmd/gmd.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas-v31:GeographicalNames:2.0" schemaLocation="../GN/GeographicalNames.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="HabitatClassificationPercentage" substitutionGroup="gml:_GML" type="PS:HabitatClassificationPercentageType"/>
  <complexType name="HabitatClassificationPercentageType">
    <complexContent>
      <extension base="gml:AbstractGMLType">
        <sequence>
          <element name="percentageUnderHabitatClass" nillable="true">
            <complexType>
              <sequence>
                <element ref="PS:PercentageAreaCovered"/>
              </sequence>
              <attribute name="nilReason" type="gml:NullType"/>
            </complexType>
          </element>
          <element name="isHabitatOn" type="gml:ReferenceType"/>
          <element name="hasHabitat" type="gml:ReferenceType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HabitatClassificationPercentagePropertyType">
    <sequence minOccurs="0">
      <element ref="PS:HabitatClassificationPercentage"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="RangeType" substitutionGroup="gml:_Object" type="PS:RangeTypeType"/>
  <complexType name="RangeTypeType">
    <sequence>
      <element minOccurs="0" name="upperBound" nillable="true">
        <complexType>
          <simpleContent>
            <extension base="integer">
              <attribute name="nilReason" type="gml:NullType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element minOccurs="0" name="lowerBound" nillable="true">
        <complexType>
          <simpleContent>
            <extension base="integer">
              <attribute name="nilReason" type="gml:NullType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="RangeTypePropertyType">
    <sequence>
      <element ref="PS:RangeType"/>
    </sequence>
  </complexType>
  <element name="ResponsibleAgency" substitutionGroup="gml:_Feature" type="PS:ResponsibleAgencyType"/>
  <complexType name="ResponsibleAgencyType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="isResponsibleFor" type="gml:ReferenceType"/>
          <element name="objectIdentifier" type="base:IdentifierPropertyType"/>
          <element name="responsibleAgencyName" type="gmd:LocalisedCharacterString_PropertyType"/>
          <element name="beginLifespanVersion" type="dateTime"/>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ResponsibleAgencyPropertyType">
    <sequence minOccurs="0">
      <element ref="PS:ResponsibleAgency"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="ActivitiesAndImpactsType" substitutionGroup="gml:_Object" type="PS:ActivitiesAndImpactsTypeType"/>
  <complexType name="ActivitiesAndImpactsTypeType">
    <sequence>
      <element minOccurs="0" name="activityIntensity" nillable="true">
        <complexType>
          <simpleContent>
            <extension base="gml:CodeType">
              <attribute name="nilReason" type="gml:NullType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element minOccurs="0" name="natureOfInfluence" nillable="true">
        <complexType>
          <simpleContent>
            <extension base="gml:CodeType">
              <attribute name="nilReason" type="gml:NullType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element name="activity" type="gml:CodeType"/>
      <element minOccurs="0" name="percentageUnderActivity" nillable="true">
        <complexType>
          <sequence>
            <element ref="PS:PercentageAreaCovered"/>
          </sequence>
          <attribute name="nilReason" type="gml:NullType"/>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="ActivitiesAndImpactsTypePropertyType">
    <sequence>
      <element ref="PS:ActivitiesAndImpactsType"/>
    </sequence>
  </complexType>
  <element name="SpeciesDistribution" substitutionGroup="PS:ProtectedFeature" type="PS:SpeciesDistributionType"/>
  <complexType name="SpeciesDistributionType">
    <complexContent>
      <extension base="PS:ProtectedFeatureType">
        <sequence>
          <element name="coversUnit" type="gml:ReferenceType"/>
          <element minOccurs="0" name="residentPopulation" nillable="true">
            <complexType>
              <sequence>
                <element ref="PS:SpeciesPopulationType"/>
              </sequence>
              <attribute name="nilReason" type="gml:NullType"/>
            </complexType>
          </element>
          <element minOccurs="0" name="breedingPopulation" nillable="true">
            <complexType>
              <sequence>
                <element ref="PS:SpeciesPopulationType"/>
              </sequence>
              <attribute name="nilReason" type="gml:NullType"/>
            </complexType>
          </element>
          <element minOccurs="0" name="winteringPopulation" nillable="true">
            <complexType>
              <sequence>
                <element ref="PS:SpeciesPopulationType"/>
              </sequence>
              <attribute name="nilReason" type="gml:NullType"/>
            </complexType>
          </element>
          <element minOccurs="0" name="stagingPopulation" nillable="true">
            <complexType>
              <sequence>
                <element ref="PS:SpeciesPopulationType"/>
              </sequence>
              <attribute name="nilReason" type="gml:NullType"/>
            </complexType>
          </element>
          <element minOccurs="0" name="isolation" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="species" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="unlistedSpecies" nillable="true">
            <complexType>
              <sequence>
                <element ref="PS:UnlistedSpeciesType"/>
              </sequence>
              <attribute name="nilReason" type="gml:NullType"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SpeciesDistributionPropertyType">
    <sequence minOccurs="0">
      <element ref="PS:SpeciesDistribution"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <simpleType name="NationalDesignationTypeType">
    <restriction base="string"/>
  </simpleType>
  <element name="UnlistedSpeciesType" substitutionGroup="gml:_Object" type="PS:UnlistedSpeciesTypeType"/>
  <complexType name="UnlistedSpeciesTypeType">
    <sequence>
      <element name="speciesGroup" type="gml:CodeType"/>
      <element name="speciesType" type="string"/>
      <element minOccurs="0" name="reasonForListing" nillable="true">
        <complexType>
          <simpleContent>
            <extension base="gml:CodeType">
              <attribute name="nilReason" type="gml:NullType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="UnlistedSpeciesTypePropertyType">
    <sequence>
      <element ref="PS:UnlistedSpeciesType"/>
    </sequence>
  </complexType>
  <element name="Habitat" substitutionGroup="PS:ProtectedFeature" type="PS:HabitatType"/>
  <complexType name="HabitatType">
    <complexContent>
      <extension base="PS:ProtectedFeatureType">
        <sequence>
          <element name="habitatType" type="gml:CodeType"/>
          <element minOccurs="0" name="habitatClass" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="representativity" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="conservationStatus" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" maxOccurs="unbounded" name="isHabitatOn" type="PS:HabitatClassificationPercentagePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HabitatPropertyType">
    <sequence minOccurs="0">
      <element ref="PS:Habitat"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="SiteManagementPlanType" substitutionGroup="gml:_Object" type="PS:SiteManagementPlanTypeType"/>
  <complexType name="SiteManagementPlanTypeType">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="isExecutedBy" type="gml:ReferenceType"/>
      <element name="siteManagementPlanReference">
        <complexType>
          <sequence minOccurs="0">
            <element ref="gmd:CI_Citation"/>
          </sequence>
          <attributeGroup ref="gml:AssociationAttributeGroup"/>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="SiteManagementPlanTypePropertyType">
    <sequence>
      <element ref="PS:SiteManagementPlanType"/>
    </sequence>
  </complexType>
  <simpleType name="DesignationTypeType">
    <restriction base="string">
      <enumeration value="SAC"/>
      <enumeration value="SPA"/>
      <enumeration value="SCI"/>
      <enumeration value="RAMSAR"/>
      <enumeration value="NDA"/>
    </restriction>
  </simpleType>
  <element name="OtherProtectedFeature" substitutionGroup="PS:ProtectedFeature" type="PS:OtherProtectedFeatureType"/>
  <complexType name="OtherProtectedFeatureType">
    <complexContent>
      <extension base="PS:ProtectedFeatureType">
        <sequence>
          <element name="protectedFeatureType" type="PS:ProtectedFeatureTypeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OtherProtectedFeaturePropertyType">
    <sequence minOccurs="0">
      <element ref="PS:OtherProtectedFeature"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="SpeciesPopulationType" substitutionGroup="gml:_Object" type="PS:SpeciesPopulationTypeType"/>
  <complexType name="SpeciesPopulationTypeType">
    <sequence>
      <element minOccurs="0" name="specificNumericalSpeciesPopulation" nillable="true">
        <complexType>
          <simpleContent>
            <extension base="integer">
              <attribute name="nilReason" type="gml:NullType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element minOccurs="0" name="rangeNumericalSpeciesPopulation" nillable="true">
        <complexType>
          <sequence>
            <element ref="PS:RangeType"/>
          </sequence>
          <attribute name="nilReason" type="gml:NullType"/>
        </complexType>
      </element>
      <element minOccurs="0" name="speciesCommonality" nillable="true">
        <complexType>
          <simpleContent>
            <extension base="gml:CodeType">
              <attribute name="nilReason" type="gml:NullType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="SpeciesPopulationTypePropertyType">
    <sequence>
      <element ref="PS:SpeciesPopulationType"/>
    </sequence>
  </complexType>
  <element name="ProtectedSite" substitutionGroup="PS:SpeciesAggregationUnit" type="PS:ProtectedSiteType"/>
  <complexType name="ProtectedSiteType">
    <complexContent>
      <extension base="PS:SpeciesAggregationUnitType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="isManagedBy" type="gml:ReferenceType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="isProtectedFor" type="gml:ReferenceType"/>
          <element name="objectIdentifier" type="base:IdentifierPropertyType"/>
          <element minOccurs="0" name="siteCode" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="siteCodeScheme" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="PS:SiteCodeIdentifierSchemeType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="geometry" type="gml:MultiSurfacePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="IUCNCategory" nillable="true">
            <complexType>
              <sequence>
                <element ref="PS:IUCNCategorisationType"/>
              </sequence>
              <attribute name="nilReason" type="gml:NullType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="activitiesAndImpactsOnSite" nillable="true">
            <complexType>
              <sequence>
                <element ref="PS:ActivitiesAndImpactsType"/>
              </sequence>
              <attribute name="nilReason" type="gml:NullType"/>
            </complexType>
          </element>
          <element minOccurs="0" name="accuracy" nillable="true">
            <complexType>
              <sequence minOccurs="0">
                <element ref="gmd:MD_Resolution"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
              <attribute name="nilReason" type="gml:NullType"/>
            </complexType>
          </element>
          <element minOccurs="0" name="accuracyUnitsOfMeasure" nillable="true">
            <complexType>
              <complexContent>
                <extension base="gml:UnitOfMeasureType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element name="designationType" type="PS:DesignationTypeType"/>
          <element minOccurs="0" name="nationalDesignationType" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="PS:NationalDesignationTypeType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="siteDescription" nillable="true" type="gmd:LocalisedCharacterString_PropertyType"/>
          <element minOccurs="0" name="qualityAndImportance" nillable="true" type="gmd:LocalisedCharacterString_PropertyType"/>
          <element minOccurs="0" name="vulnerability" nillable="true" type="gmd:LocalisedCharacterString_PropertyType"/>
          <element minOccurs="0" name="ownership" nillable="true" type="gmd:LocalisedCharacterString_PropertyType"/>
          <element minOccurs="0" name="documentation" nillable="true" type="gmd:LocalisedCharacterString_PropertyType"/>
          <element name="legalFoundationDocument">
            <complexType>
              <sequence minOccurs="0">
                <element ref="gmd:CI_Citation"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </complexType>
          </element>
          <element name="legalFoundationDate" type="dateTime"/>
          <element minOccurs="0" name="legalExpiryDate" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="beginLifespanVersion" type="dateTime"/>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="dataSource" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="officialSiteArea" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:AreaType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" name="geographicalName" type="GN:GeographicalNamePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="fundingSource" nillable="true">
            <complexType>
              <sequence>
                <element ref="PS:FundingSourceType"/>
              </sequence>
              <attribute name="nilReason" type="gml:NullType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="siteManagementPlan" nillable="true">
            <complexType>
              <sequence>
                <element ref="PS:SiteManagementPlanType"/>
              </sequence>
              <attribute name="nilReason" type="gml:NullType"/>
            </complexType>
          </element>
          <element minOccurs="0" maxOccurs="unbounded" name="hasHabitat" type="PS:HabitatClassificationPercentagePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ProtectedSitePropertyType">
    <sequence minOccurs="0">
      <element ref="PS:ProtectedSite"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="SpeciesAggregationUnit" substitutionGroup="gml:_Feature" type="PS:SpeciesAggregationUnitType"/>
  <complexType abstract="true" name="SpeciesAggregationUnitType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="hasSpecies" type="gml:ReferenceType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SpeciesAggregationUnitPropertyType">
    <sequence minOccurs="0">
      <element ref="PS:SpeciesAggregationUnit"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="ProtectedFeature" substitutionGroup="gml:_Feature" type="PS:ProtectedFeatureType"/>
  <complexType name="ProtectedFeatureType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="objectIdentifier" type="base:IdentifierPropertyType"/>
          <element minOccurs="0" name="globalAssessment" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="percentageOfSiteCoveredByProtectedFeature" nillable="true">
            <complexType>
              <sequence>
                <element ref="PS:PercentageAreaCovered"/>
              </sequence>
              <attribute name="nilReason" type="gml:NullType"/>
            </complexType>
          </element>
          <element minOccurs="0" name="percentageOfNationalTerritoryUnderProtectedFeature" nillable="true">
            <complexType>
              <sequence>
                <element ref="PS:PercentageAreaCovered"/>
              </sequence>
              <attribute name="nilReason" type="gml:NullType"/>
            </complexType>
          </element>
          <element name="beginLifespanVersion" type="dateTime"/>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ProtectedFeaturePropertyType">
    <sequence minOccurs="0">
      <element ref="PS:ProtectedFeature"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <simpleType name="FundingTypeType">
    <restriction base="string">
      <enumeration value="LIFE Project"/>
      <enumeration value="AgriEnvironment"/>
      <enumeration value="Objective 1"/>
      <enumeration value="Objective 2"/>
      <enumeration value="Leader"/>
      <enumeration value="Leader Plus"/>
      <enumeration value="Interreg"/>
      <enumeration value="European Fisheries Fund"/>
    </restriction>
  </simpleType>
  <element name="PercentageAreaCovered" substitutionGroup="gml:_Object" type="PS:PercentageAreaCoveredType"/>
  <complexType name="PercentageAreaCoveredType">
    <sequence>
      <element name="percentageCovered" type="integer"/>
    </sequence>
  </complexType>
  <complexType name="PercentageAreaCoveredPropertyType">
    <sequence>
      <element ref="PS:PercentageAreaCovered"/>
    </sequence>
  </complexType>
  <simpleType name="SiteCodeIdentifierSchemeType">
    <restriction base="string">
      <enumeration value="UNEP WCMC"/>
      <enumeration value="Natura2000"/>
    </restriction>
  </simpleType>
  <element name="FundingSourceType" substitutionGroup="gml:_Object" type="PS:FundingSourceTypeType"/>
  <complexType name="FundingSourceTypeType">
    <sequence>
      <element minOccurs="0" name="projectName" nillable="true" type="gmd:LocalisedCharacterString_PropertyType"/>
      <element name="fundingType" type="PS:FundingTypeType"/>
    </sequence>
  </complexType>
  <complexType name="FundingSourceTypePropertyType">
    <sequence>
      <element ref="PS:FundingSourceType"/>
    </sequence>
  </complexType>
  <simpleType name="ProtectedFeatureTypeType">
    <restriction base="string">
      <enumeration value="Geology"/>
      <enumeration value="Archaeology"/>
    </restriction>
  </simpleType>
  <element name="IUCNCategorisationType" substitutionGroup="gml:_Object" type="PS:IUCNCategorisationTypeType"/>
  <complexType name="IUCNCategorisationTypeType">
    <sequence>
      <element name="IUCNCategory" type="gml:CodeType"/>
      <element minOccurs="0" name="percentageUnderIUCNCategory" nillable="true">
        <complexType>
          <sequence>
            <element ref="PS:PercentageAreaCovered"/>
          </sequence>
          <attribute name="nilReason" type="gml:NullType"/>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="IUCNCategorisationTypePropertyType">
    <sequence>
      <element ref="PS:IUCNCategorisationType"/>
    </sequence>
  </complexType>
</schema>
