legacy/plugins/eu.esdihumboldt.cst.iobridge/src/test/resource/eu/esdihumboldt/cst/iobridge/HALE_CST_Italy_INSPIRE/SIC/wfs.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:Italy="Italy" xmlns:gml="http://www.opengis.net/gml" elementFormDefault="qualified" targetNamespace="Italy">
  <xsd:import namespace="http://www.opengis.net/gml" schemaLocation="http://www.gisig.it:8081/geoserver/schemas/gml/3.1.1/base/gml.xsd"/>
  <xsd:import namespace="http://www.opengis.net/gml" schemaLocation="http://www.gisig.it:8081/geoserver/schemas/gml/3.1.1/base/gml.xsd"/>
  <xsd:complexType name="SICType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="the_geom" nillable="true" type="gml:MultiSurfacePropertyType"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="MSLINK" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="MAPID" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SUP_MGE_HA" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PERIMETER_" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SITI_" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SITI_ID" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CODICE" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="REGIONE" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SUBSITO" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="NOME_SITO" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SIC" substitutionGroup="gml:_Feature" type="Italy:SICType"/>
</xsd:schema>