cst/eu.esdihumboldt.cst.iobridge/src/test/resource/eu/esdihumboldt/cst/iobridge/HALE_CST_Italy_INSPIRE/models/TCS_final_mdv_corr.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xsd:schema targetNamespace="http://humboldt/TransboundaryCatchment"
xmlns:tcs="http://humboldt/TransboundaryCatchment"
xmlns:uml="http://schema.omg.org/spec/UML/2.1"
xmlns:xmi="http://schema.omg.org/spec/XMI/2.1"
xmlns:thecustomprofile="http://www.sparxsystems.com/profiles/thecustomprofile/1.0"
xmlns:config="http://www.gdmc.nl/xmi2schema/Configuration"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:gml="http://www.opengis.net/gml/3.2"
xmlns:gmd="http://www.isotc211.org/2005/gmd"
xmlns:base="urn:x-inspire:specification:gmlas:BaseTypes:3.2"
xmlns:hy="urn:x-inspire:specification:gmlas:HydroBase:3.0"
xmlns:hy-p="urn:x-inspire:specification:gmlas:HydroPhysicalWaters:3.0"
xmlns="http://www.w3.org/2001/XMLSchema">

  <xsd:import namespace="http://www.opengis.net/gml/3.2"
  schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd" />
  <xsd:import namespace="http://www.isotc211.org/2005/gmd"
  schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd" />

  <xsd:import namespace="urn:x-inspire:specification:gmlas:HydroBase:3.0"
  schemaLocation="HydroBase.xsd" />
  <xsd:import namespace="urn:x-inspire:specification:gmlas:HydroPhysicalWaters:3.0"
  schemaLocation="HydroPhysicalWaters.xsd" />
  <xsd:import namespace="urn:x-inspire:specification:gmlas:BaseTypes:3.2"
  schemaLocation="BaseTypes.xsd" />

  <xsd:element name="ContourLine" substitutionGroup="tcs:Elevation" type="tcs:ContourLineType" />
  <xsd:complexType name="ContourLineType">
    <xsd:complexContent>
      <xsd:extension base="tcs:ElevationType">
        <xsd:sequence>
          <xsd:element name="geometry" type="gml:CurveType"
          minOccurs="1" maxOccurs="1" />
          <xsd:element name="ID" type="integer" minOccurs="1"
          maxOccurs="1" />
          <xsd:element name="value" type="double" minOccurs="1"
          maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="DischargeGauge" substitutionGroup="gml:AbstractFeature" type="tcs:DischargeGaugeType" />
  <xsd:complexType name="DischargeGaugeType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
    <xsd:sequence>
      <xsd:element name="DGaudeID" type="integer" minOccurs="1"
      maxOccurs="1" />
      <xsd:element name="GaugeDescr" type="string" minOccurs="1"
      maxOccurs="1" />
      <xsd:element name="Geom" type="gml:PointType" minOccurs="1"
      maxOccurs="1" />
      <xsd:element name="ManagingAuthority" type="string"
      minOccurs="1" maxOccurs="1" />
      <xsd:element name="NameWater" type="string" minOccurs="1"
      maxOccurs="1" />
    </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Elevation" substitutionGroup="gml:AbstractFeature" type="tcs:ElevationType" />
  <xsd:complexType name="ElevationType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
    <xsd:sequence>
      <xsd:element name="elevationDescr" type="string"
      minOccurs="1" maxOccurs="1" />
      <xsd:element name="elevationId" type="integer" minOccurs="1"
      maxOccurs="1" />
    </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="GridPoint" substitutionGroup="tcs:Elevation" type="tcs:GridPointType" />
  <xsd:complexType name="GridPointType">
    <xsd:complexContent>
      <xsd:extension base="tcs:ElevationType">
        <xsd:sequence>
          <xsd:element name="geometry" type="gml:PointType"
          minOccurs="1" maxOccurs="1" />
          <xsd:element name="ID" type="integer" minOccurs="1"
          maxOccurs="1" />
          <xsd:element name="value" type="double" minOccurs="1"
          maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="HydrologicalPersistenceValueCodeType">
              <xsd:simpleContent>
                <xsd:extension base="gml:CodeType">
                  <xsd:attribute name="nilReason" type="gml:NilReasonType"/>
                </xsd:extension>
              </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="PhenomenaCodeType">
              <xsd:simpleContent>
                <xsd:extension base="gml:CodeType">
                  <xsd:attribute name="nilReason" type="gml:NilReasonType"/>
                </xsd:extension>
              </xsd:simpleContent>
  </xsd:complexType>


  <!--xsd:element name="INSPIRE" type="tcs:INSPIREType" />
  <xsd:complexType name="INSPIREType">
    <xsd:sequence></xsd:sequence>
  </xsd:complexType-->

  <xsd:element name="LandCover" substitutionGroup="gml:AbstractFeature" type="tcs:LandCoverType" />
  <xsd:complexType name="LandCoverType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
    <xsd:sequence>
      <xsd:element name="area" type="double" minOccurs="1"
      maxOccurs="1" />
      <xsd:element name="code" type="string" minOccurs="1"
      maxOccurs="1" />
      <xsd:element name="descr" type="string" minOccurs="1"
      maxOccurs="1" />
      <xsd:element name="geometry" type="gml:SurfaceType"
      minOccurs="1" maxOccurs="1" />
      <xsd:element name="ID" type="integer" minOccurs="1"
      maxOccurs="1" />
    </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="LandUse" substitutionGroup="tcs:LandCover" type="tcs:LandUseType" />
  <xsd:complexType name="LandUseType">
    <xsd:complexContent>
      <xsd:extension base="tcs:LandCoverType">
        <xsd:sequence>
          <xsd:element name="landUseCode"
          type="string" minOccurs="1"
          maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Measurement" substitutionGroup="gml:AbstractFeature" type="tcs:MeasurementType" />
  <xsd:complexType name="MeasurementType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
    <xsd:sequence>
      <xsd:element name="gaugeCode" type="string" minOccurs="1"
      maxOccurs="1" />
      <xsd:element name="Phenomena" type="tcs:PhenomenaCodeType"
      minOccurs="1" maxOccurs="1" />
      <xsd:element name="time" type="dateTime" minOccurs="1"
      maxOccurs="1" />
      <xsd:element name="value" type="double" minOccurs="1"
      maxOccurs="1" />
    </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="MeteorologicalStation" substitutionGroup="gml:AbstractFeature" 
  type="tcs:MeteorologicalStationType" />
  <xsd:complexType name="MeteorologicalStationType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
    <xsd:sequence>
      <xsd:element name="elevation" type="double" minOccurs="1"
      maxOccurs="1" />
      <xsd:element name="gaugeCode" type="string" minOccurs="1"
      maxOccurs="1" />
      <xsd:element name="gaugeDescr" type="string" minOccurs="1"
      maxOccurs="1" />
      <xsd:element name="geometry" type="gml:PointType"
      minOccurs="1" maxOccurs="1" />
      <xsd:element name="ID" type="integer" minOccurs="1"
      maxOccurs="1" />
      <xsd:element name="name" type="string" minOccurs="1"
      maxOccurs="1" />
    </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <xsd:element name="Prediction" substitutionGroup="gml:AbstractFeature" type="tcs:PredictionType" />
  <xsd:complexType name="PredictionType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
    <xsd:sequence>
      <xsd:element name="gaugeCode" type="string" minOccurs="1"
      maxOccurs="1" />
      <xsd:element name="phenomena" type="tcs:PhenomenaCodeType"
      minOccurs="1" maxOccurs="1" />
      <xsd:element name="time" type="dateTime" minOccurs="1"
      maxOccurs="1" />
      <xsd:element name="value" type="double" minOccurs="1"
      maxOccurs="1" />
    </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="RainFall" substitutionGroup="gml:AbstractFeature" type="tcs:RainFallType" />
  <xsd:complexType name="RainFallType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
    <xsd:sequence>
      <xsd:element name="geometry" type="gml:SurfaceType"
      minOccurs="1" maxOccurs="1" />
      <xsd:element name="rainFallId" type="integer" minOccurs="1"
      maxOccurs="1" />
      <xsd:element name="time" type="dateTime" minOccurs="1"
      maxOccurs="1" />
    </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="RainFallGrid" substitutionGroup="gml:AbstractFeature" type="tcs:RainFallGridType" />
  <xsd:complexType name="RainFallGridType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
    <xsd:sequence>
      <xsd:element name="geometry" type="gml:PointType"
      minOccurs="1" maxOccurs="1" />
      <xsd:element name="ID" type="integer" minOccurs="1"
      maxOccurs="1" />
      <xsd:element name="value" type="double" minOccurs="1"
      maxOccurs="1" />
    </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Soil" substitutionGroup="gml:AbstractFeature" type="tcs:SoilType" />
  <xsd:complexType name="SoilType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
    <xsd:sequence>
      <xsd:element name="density" type="double" minOccurs="1"
      maxOccurs="1" />
      <xsd:element name="depth" type="double" minOccurs="1"
      maxOccurs="1" />
      <xsd:element name="descr" type="string" minOccurs="1"
      maxOccurs="1" />
      <xsd:element name="fieldCapacity" type="integer"
      minOccurs="1" maxOccurs="1" />
      <xsd:element name="ID" type="integer" minOccurs="1"
      maxOccurs="1" />
      <xsd:element name="porosity" type="double" minOccurs="1"
      maxOccurs="1" />
      <xsd:element name="type"
      type="string" minOccurs="1"
      maxOccurs="1" />
    </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="StandingWater" substitutionGroup="tcs:SurfaceWaterTransboundary" type="tcs:StandingWaterType" />
  <xsd:complexType name="StandingWaterType">
    <xsd:complexContent>
      <xsd:extension base="tcs:SurfaceWaterTransboundaryType">
        <xsd:sequence>
          <xsd:element name="elevation" type="double" minOccurs="1"
          maxOccurs="1" />
          <xsd:element name="ID" type="integer" minOccurs="1"
          maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="SurfaceWaterTransboundary" substitutionGroup="gml:AbstractFeature" type="tcs:SurfaceWaterTransboundaryType" />
  <xsd:complexType name="SurfaceWaterTransboundaryType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
    <xsd:sequence>
      <xsd:element name="geometry"
      type="gml:GeometricPrimitivePropertyType" minOccurs="1"
      maxOccurs="1" />
      <xsd:element name="localType"
      type="gmd:LocalisedCharacterString_PropertyType"
      minOccurs="1" maxOccurs="1" />
      <xsd:element name="name" type="string" minOccurs="1"
      maxOccurs="1" />
      <xsd:element name="origin" type="hy-p:OriginValueType"
      minOccurs="1" maxOccurs="1" />
      <xsd:element name="persistence"
      type="tcs:HydrologicalPersistenceValueCodeType" minOccurs="1"
      maxOccurs="1" />
    </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Temperature" substitutionGroup="gml:AbstractFeature" type="tcs:TemperatureType" />
  <xsd:complexType name="TemperatureType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
    <xsd:sequence>
      <xsd:element name="Geometry" type="gml:PointType"
      minOccurs="1" maxOccurs="1" />
      <xsd:element name="Time" type="dateTime" minOccurs="1"
      maxOccurs="1" />
      <xsd:element name="Value" type="double" minOccurs="1"
      maxOccurs="1" />
    </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="TransboundaryCatchment" substitutionGroup="gml:AbstractFeature" type="tcs:TransboundaryCatchmentType" />
  <xsd:complexType name="TransboundaryCatchmentType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
    <xsd:sequence>
      <xsd:element name="area" type="double" minOccurs="1"
      maxOccurs="1" />
      <xsd:element name="geometry" type="gml:SurfaceType"
      minOccurs="1" maxOccurs="1" />
      <xsd:element name="ID" type="integer" minOccurs="1"
      maxOccurs="1" />
      <xsd:element name="name" type="string" minOccurs="1"
      maxOccurs="1" />
    </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="WaterGauge" substitutionGroup="gml:AbstractFeature" type="tcs:WaterGaugeType" />
  <xsd:complexType name="WaterGaugeType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
    <xsd:sequence>
      <xsd:element name="gaugeCode" type="string" minOccurs="1"
      maxOccurs="1" />
      <xsd:element name="gaugeDescr" type="string" minOccurs="1"
      maxOccurs="1" />
      <xsd:element name="geometry" type="gml:PointType"
      minOccurs="1" maxOccurs="1" />
      <xsd:element name="ID" type="integer" minOccurs="1"
      maxOccurs="1" />
      <xsd:element name="nameWater" type="string" minOccurs="1"
      maxOccurs="1" />
    </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Watercourse" substitutionGroup="tcs:SurfaceWaterTransboundary" type="tcs:WatercourseType" />
  <xsd:complexType name="WatercourseType">
    <xsd:complexContent>
      <xsd:extension base="tcs:SurfaceWaterTransboundaryType">
        <xsd:sequence>
          <xsd:element name="hydroId"
          type="hy:HydroIdentifierType"
          minOccurs="1" maxOccurs="1" />
          <xsd:element name="ID" type="integer" minOccurs="1"
          maxOccurs="1" />
          <xsd:element name="level"
          type="base:VerticalPositionValueType"
          minOccurs="1" maxOccurs="1" />
          <xsd:element name="width" type="hy-p:WidthRangeType"
          minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


</xsd:schema>
