legacy/plugins/cst-wps/tags/cst-wps-1.0/src/main/webapp/xsds/GCM/Gazetteer.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gaz="urn:x-inspire:specification:gmlas-v31:Gazetteer:3.1" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml" elementFormDefault="qualified" targetNamespace="urn:x-inspire:specification:gmlas-v31:Gazetteer:3.1" version="3.1">
  <import namespace="http://www.opengis.net/gml" schemaLocation="../gml/3.1.1/gml.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../iso/19139/20070417/gmd/gmd.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="LocationInstance" substitutionGroup="gml:_Feature" type="gaz:LocationInstanceType"/>
  <complexType name="LocationInstanceType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="locationType" type="gml:ReferenceType"/>
          <element minOccurs="0" name="spatialObject" nillable="true" type="gml:FeaturePropertyType"/>
          <element maxOccurs="unbounded" name="gazetteer" type="gml:ReferenceType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="parent" type="gml:ReferenceType"/>
          <element name="geographicIdentifier" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="alternativeGeographicIdentifier" type="string"/>
          <element minOccurs="0" name="dateOfCreation" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="date">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="geographicExtent" type="gml:GeometryPropertyType"/>
          <element name="admin">
            <complexType>
              <sequence>
                <element ref="gmd:CI_ResponsibleParty"/>
              </sequence>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LocationInstancePropertyType">
    <sequence minOccurs="0">
      <element ref="gaz:LocationInstance"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="Gazetteer" substitutionGroup="gml:_Feature" type="gaz:GazetteerType"/>
  <complexType name="GazetteerType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="locationType" type="gml:ReferenceType"/>
          <element name="name" type="gmd:PT_FreeText_PropertyType"/>
          <element minOccurs="0" name="scope" type="gmd:PT_FreeText_PropertyType"/>
          <element name="custodian">
            <complexType>
              <sequence>
                <element ref="gmd:CI_ResponsibleParty"/>
              </sequence>
            </complexType>
          </element>
          <element name="territoryOfUse">
            <complexType>
              <sequence>
                <element ref="gmd:AbstractEX_GeographicExtent"/>
              </sequence>
            </complexType>
          </element>
          <element minOccurs="0" name="coordinateSystem" type="gml:CRSRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GazetteerPropertyType">
    <sequence minOccurs="0">
      <element ref="gaz:Gazetteer"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="LocationType" substitutionGroup="gml:_GML" type="gaz:LocationTypeType"/>
  <complexType name="LocationTypeType">
    <complexContent>
      <extension base="gml:AbstractGMLType">
        <sequence>
          <element minOccurs="0" name="spatialObjectType" type="gml:ReferenceType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="parent" type="gml:ReferenceType"/>
          <element name="name" type="gmd:PT_FreeText_PropertyType"/>
          <element name="definition" type="gmd:PT_FreeText_PropertyType"/>
          <element maxOccurs="unbounded" name="identificationType" type="gml:CodeType"/>
          <element name="territoryOfUse">
            <complexType>
              <sequence>
                <element ref="gmd:AbstractEX_GeographicExtent"/>
              </sequence>
            </complexType>
          </element>
          <element name="owner">
            <complexType>
              <sequence>
                <element ref="gmd:CI_ResponsibleParty"/>
              </sequence>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LocationTypePropertyType">
    <sequence minOccurs="0">
      <element ref="gaz:LocationType"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
</schema>
