hale/Client/resources/D2.8-I_GML-Application-Schemas_v2.0-GML3.1.1/HY/Hydrography.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:GN="urn:x-inspire:specification:gmlas-v31:GeographicalNames:2.0" xmlns:HY="urn:x-inspire:specification:gmlas-v31:Hydrography:2.0" xmlns:base="urn:x-inspire:specification:gmlas-v31:BaseTypes:3.1" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml" xmlns:net="urn:x-inspire:specification:gmlas-v31:Network:3.1" elementFormDefault="qualified" targetNamespace="urn:x-inspire:specification:gmlas-v31:Hydrography:2.0" version="2.0">
  <import namespace="http://www.opengis.net/gml" schemaLocation="D:/_temp/D2.8-I_GML-Application-Schemas_v2.0-GML3.1.1/gml/3.1.1/gml.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas-v31:BaseTypes:3.1" schemaLocation="D:/_temp/D2.8-I_GML-Application-Schemas_v2.0-GML3.1.1/GCM/BaseTypes.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas-v31:GeographicalNames:2.0" schemaLocation="D:/_temp/D2.8-I_GML-Application-Schemas_v2.0-GML3.1.1/GN/GeographicalNames.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="D:/_temp/D2.8-I_GML-Application-Schemas_v2.0-GML3.1.1/iso/19139/20070417/gmd/gmd.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas-v31:Network:3.1" schemaLocation="D:/_temp/D2.8-I_GML-Application-Schemas_v2.0-GML3.1.1/GCM/Network.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="Sluice" substitutionGroup="HY:InteriorManMadeObject" type="HY:SluiceType"/>
  <complexType name="SluiceType">
    <complexContent>
      <extension base="HY:InteriorManMadeObjectType">
        <sequence>
          <element minOccurs="0" name="partOfDam" nillable="true" type="gml:ReferenceType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SluicePropertyType">
    <sequence minOccurs="0">
      <element ref="HY:Sluice"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="DischargePoint" substitutionGroup="HY:HydroFacility" type="HY:DischargePointType"/>
  <complexType name="DischargePointType">
    <complexContent>
      <extension base="HY:HydroFacilityType">
        <sequence>
          <element name="theNode" nillable="true" type="gml:ReferenceType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DischargePointPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:DischargePoint"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="Riverbank" substitutionGroup="HY:Shore" type="HY:RiverbankType"/>
  <complexType name="RiverbankType">
    <complexContent>
      <extension base="HY:ShoreType">
        <sequence>
          <element name="geometry" type="gml:CurvePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RiverbankPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:Riverbank"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="AbstractionPoint" substitutionGroup="HY:HydroFacility" type="HY:AbstractionPointType"/>
  <complexType name="AbstractionPointType">
    <complexContent>
      <extension base="HY:HydroFacilityType">
        <sequence>
          <element name="theNode" nillable="true" type="gml:ReferenceType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractionPointPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:AbstractionPoint"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <simpleType name="WaterLevelTypeType">
    <restriction base="string">
      <enumeration value="lowWater"/>
      <enumeration value="highWater"/>
      <enumeration value="other"/>
    </restriction>
  </simpleType>
  <element name="Falls" substitutionGroup="HY:FluvialPoint" type="HY:FallsType"/>
  <complexType name="FallsType">
    <complexContent>
      <extension base="HY:FluvialPointType">
        <sequence>
          <element name="height" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FallsPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:Falls"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <simpleType name="OriginTypeType">
    <restriction base="string">
      <enumeration value="natural"/>
      <enumeration value="manMade"/>
    </restriction>
  </simpleType>
  <element name="Lock" substitutionGroup="HY:InteriorManMadeObject" type="HY:LockType"/>
  <complexType name="LockType">
    <complexContent>
      <extension base="HY:InteriorManMadeObjectType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LockPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:Lock"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="Watercourse" substitutionGroup="HY:SurfaceWater" type="HY:WatercourseType"/>
  <complexType name="WatercourseType">
    <complexContent>
      <extension base="HY:SurfaceWaterType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="isWfdRiver" nillable="true" type="gml:ReferenceType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="theWfdTransitionalWater" nillable="true" type="gml:ReferenceType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hasNetworkSegment" nillable="true" type="gml:ReferenceType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hasGlacier" nillable="true" type="gml:ReferenceType"/>
          <element minOccurs="0" name="riverbank" nillable="true" type="gml:ReferenceType"/>
          <element minOccurs="0" name="foreshore" nillable="true" type="gml:ReferenceType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="theCrossing" nillable="true" type="gml:ReferenceType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="asNetworkAggregate" nillable="true" type="gml:ReferenceType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hasManMadeObject" nillable="true" type="gml:ReferenceType"/>
          <element minOccurs="0" name="isAdminBoundary" type="gml:ReferenceType"/>
          <element minOccurs="0" name="condition" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="HY:ConditionTypeType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="fictitious" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="boolean">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="length" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:LengthType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="level" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="HY:LocationTypeType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="tidal" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="boolean">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="waterCourseHierarchy" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="HY:WatercourseHierarchyTypeType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="width" nillable="true">
            <complexType>
              <sequence>
                <element ref="HY:WidthRangeType"/>
              </sequence>
              <attribute name="nilReason" type="gml:NullType"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WatercoursePropertyType">
    <sequence minOccurs="0">
      <element ref="HY:Watercourse"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="Pipe" substitutionGroup="HY:HydroFacility" type="HY:PipeType"/>
  <complexType name="PipeType">
    <complexContent>
      <extension base="HY:HydroFacilityType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PipePropertyType">
    <sequence minOccurs="0">
      <element ref="HY:Pipe"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="Foreshore" substitutionGroup="HY:Shore" type="HY:ForeshoreType"/>
  <complexType name="ForeshoreType">
    <complexContent>
      <extension base="HY:ShoreType">
        <sequence>
          <element name="geometry" type="gml:SurfacePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ForeshorePropertyType">
    <sequence minOccurs="0">
      <element ref="HY:Foreshore"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="WFDWaterBody" substitutionGroup="gml:_Feature" type="HY:WFDWaterBodyType"/>
  <complexType abstract="true" name="WFDWaterBodyType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="beginLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="id" type="base:IdentifierPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WFDWaterBodyPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:WFDWaterBody"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="SpringOrSeep" substitutionGroup="HY:HydroPointOfInterest" type="HY:SpringOrSeepType"/>
  <complexType name="SpringOrSeepType">
    <complexContent>
      <extension base="HY:HydroPointOfInterestType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SpringOrSeepPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:SpringOrSeep"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="SurfaceWater" substitutionGroup="gml:_Feature" type="HY:SurfaceWaterType"/>
  <complexType abstract="true" name="SurfaceWaterType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="pointOfInterest" nillable="true" type="gml:ReferenceType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="neighbour" nillable="true" type="gml:ReferenceType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hasEmbankment" nillable="true" type="gml:ReferenceType"/>
          <element name="drainsCatchment" nillable="true" type="gml:ReferenceType"/>
          <element name="shoreline" nillable="true" type="gml:ReferenceType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="theHydroFacility" nillable="true" type="gml:ReferenceType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hasConstruction" nillable="true" type="gml:ReferenceType"/>
          <element name="beginLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" name="geographicalName" nillable="true">
            <complexType>
              <complexContent>
                <extension base="GN:GeographicalNamePropertyType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element name="geometry" type="gml:GeometricPrimitivePropertyType"/>
          <element minOccurs="0" name="hydroId" nillable="true">
            <complexType>
              <sequence>
                <element ref="HY:HydroIdentifier"/>
              </sequence>
              <attribute name="nilReason" type="gml:NullType"/>
            </complexType>
          </element>
          <element name="id" type="base:IdentifierPropertyType"/>
          <element minOccurs="0" name="levelOfDetail" type="base:IndicativeLoDType"/>
          <element minOccurs="0" name="localType" type="gmd:LocalisedCharacterString_PropertyType"/>
          <element name="origin" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="HY:OriginTypeType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="persistence" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SurfaceWaterPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:SurfaceWater"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="WidthRangeType" substitutionGroup="gml:_Object" type="HY:WidthRangeTypeType"/>
  <complexType name="WidthRangeTypeType">
    <sequence>
      <element name="lower" type="gml:LengthType"/>
      <element name="upper" type="gml:LengthType"/>
    </sequence>
  </complexType>
  <complexType name="WidthRangeTypePropertyType">
    <sequence>
      <element ref="HY:WidthRangeType"/>
    </sequence>
  </complexType>
  <element name="SubsurfaceCrossing" substitutionGroup="HY:Crossing" type="HY:SubsurfaceCrossingType"/>
  <complexType name="SubsurfaceCrossingType">
    <complexContent>
      <extension base="HY:CrossingType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SubsurfaceCrossingPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:SubsurfaceCrossing"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="WFDLake" substitutionGroup="HY:WFDInlandWater" type="HY:WFDLakeType"/>
  <complexType name="WFDLakeType">
    <complexContent>
      <extension base="HY:WFDInlandWaterType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="isStandingWater" nillable="true" type="gml:ReferenceType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WFDLakePropertyType">
    <sequence minOccurs="0">
      <element ref="HY:WFDLake"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="InteriorManMadeObject" substitutionGroup="HY:ManMadeObject" type="HY:InteriorManMadeObjectType"/>
  <complexType abstract="true" name="InteriorManMadeObjectType">
    <complexContent>
      <extension base="HY:ManMadeObjectType">
        <sequence>
          <element minOccurs="0" name="liesIn" nillable="true" type="gml:ReferenceType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="InteriorManMadeObjectPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:InteriorManMadeObject"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <simpleType name="ConditionTypeType">
    <restriction base="string">
      <enumeration value="underConstruction"/>
      <enumeration value="fullyFunctional"/>
      <enumeration value="disused"/>
    </restriction>
  </simpleType>
  <element name="Ford" substitutionGroup="HY:InteriorManMadeObject" type="HY:FordType"/>
  <complexType name="FordType">
    <complexContent>
      <extension base="HY:InteriorManMadeObjectType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FordPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:Ford"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="ManMadeObject" substitutionGroup="gml:_Feature" type="HY:ManMadeObjectType"/>
  <complexType abstract="true" name="ManMadeObjectType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="theNode" nillable="true" type="gml:ReferenceType"/>
          <element name="beginLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="condition" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="HY:ConditionTypeType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="geometry" nillable="true" type="gml:GeometricPrimitivePropertyType"/>
          <element name="id" type="base:IdentifierPropertyType"/>
          <element minOccurs="0" name="importance" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="geographicalName" nillable="true">
            <complexType>
              <complexContent>
                <extension base="GN:GeographicalNamePropertyType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ManMadeObjectPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:ManMadeObject"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="HydroIdentifier" substitutionGroup="gml:_Object" type="HY:HydroIdentifierType"/>
  <complexType name="HydroIdentifierType">
    <sequence>
      <element name="countryCode" type="string"/>
      <element name="id" type="string"/>
    </sequence>
  </complexType>
  <complexType name="HydroIdentifierPropertyType">
    <sequence>
      <element ref="HY:HydroIdentifier"/>
    </sequence>
  </complexType>
  <element name="Embankment" substitutionGroup="HY:ManMadeObject" type="HY:EmbankmentType"/>
  <complexType name="EmbankmentType">
    <complexContent>
      <extension base="HY:ManMadeObjectType">
        <sequence>
          <element name="isNextTo" nillable="true" type="gml:ReferenceType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="EmbankmentPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:Embankment"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="VanishingPoint" substitutionGroup="HY:HydroPointOfInterest" type="HY:VanishingPointType"/>
  <complexType name="VanishingPointType">
    <complexContent>
      <extension base="HY:HydroPointOfInterestType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VanishingPointPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:VanishingPoint"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="WFDTransitionalWater" substitutionGroup="HY:WFDSurfaceWaterBody" type="HY:WFDTransitionalWaterType"/>
  <complexType name="WFDTransitionalWaterType">
    <complexContent>
      <extension base="HY:WFDSurfaceWaterBodyType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="adjoinsShore" nillable="true" type="gml:ReferenceType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="theWatercourse" nillable="true" type="gml:ReferenceType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WFDTransitionalWaterPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:WFDTransitionalWater"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="WFDSurfaceWaterBody" substitutionGroup="HY:WFDWaterBody" type="HY:WFDSurfaceWaterBodyType"/>
  <complexType name="WFDSurfaceWaterBodyType">
    <complexContent>
      <extension base="HY:WFDWaterBodyType">
        <sequence>
          <element name="artificial" type="boolean"/>
          <element minOccurs="0" name="derivedGeometry" type="gml:GeometricPrimitivePropertyType"/>
          <element name="geometry" type="HY:DirectOrIndirectGeometryPropertyType"/>
          <element minOccurs="0" name="heavilyModified" type="boolean"/>
          <element minOccurs="0" name="representativePoint" nillable="true" type="gml:PointPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WFDSurfaceWaterBodyPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:WFDSurfaceWaterBody"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="Rapids" substitutionGroup="HY:FluvialPoint" type="HY:RapidsType"/>
  <complexType name="RapidsType">
    <complexContent>
      <extension base="HY:FluvialPointType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RapidsPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:Rapids"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="FluvialPoint" substitutionGroup="HY:HydroPointOfInterest" type="HY:FluvialPointType"/>
  <complexType abstract="true" name="FluvialPointType">
    <complexContent>
      <extension base="HY:HydroPointOfInterestType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FluvialPointPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:FluvialPoint"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="Sea" substitutionGroup="gml:_Feature" type="HY:SeaType"/>
  <complexType name="SeaType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="hasWfdCoastalWater" nillable="true" type="gml:ReferenceType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hasNetworkNode" nillable="true" type="gml:ReferenceType"/>
          <element minOccurs="0" name="foreshore" nillable="true" type="gml:ReferenceType"/>
          <element name="coastline" nillable="true" type="gml:ReferenceType"/>
          <element name="beginLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="geometry" nillable="true" type="gml:SurfacePropertyType"/>
          <element name="id" type="base:IdentifierPropertyType"/>
          <element maxOccurs="unbounded" name="geographicalName" nillable="true">
            <complexType>
              <complexContent>
                <extension base="GN:GeographicalNamePropertyType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SeaPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:Sea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="HydroPointOfInterest" substitutionGroup="gml:_Feature" type="HY:HydroPointOfInterestType"/>
  <complexType abstract="true" name="HydroPointOfInterestType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="theNode" nillable="true" type="gml:ReferenceType"/>
          <element name="hostWater" nillable="true" type="gml:ReferenceType"/>
          <element name="beginLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="geometry" nillable="true" type="gml:GeometricPrimitivePropertyType"/>
          <element name="id" type="base:IdentifierPropertyType"/>
          <element minOccurs="0" name="importance" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="geographicalName" nillable="true">
            <complexType>
              <complexContent>
                <extension base="GN:GeographicalNamePropertyType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HydroPointOfInterestPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:HydroPointOfInterest"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="DirectOrIndirectGeometry" substitutionGroup="gml:_Object" type="HY:DirectOrIndirectGeometryType"/>
  <complexType name="DirectOrIndirectGeometryType">
    <choice>
      <element name="direct" type="gml:GeometricPrimitivePropertyType"/>
      <element name="indirect" type="HY:SurfaceWaterRefPropertyType"/>
    </choice>
  </complexType>
  <complexType name="DirectOrIndirectGeometryPropertyType">
    <sequence>
      <element ref="HY:DirectOrIndirectGeometry"/>
    </sequence>
  </complexType>
  <element name="WFDGroundWaterBody" substitutionGroup="HY:WFDWaterBody" type="HY:WFDGroundWaterBodyType"/>
  <complexType name="WFDGroundWaterBodyType">
    <complexContent>
      <extension base="HY:WFDWaterBodyType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WFDGroundWaterBodyPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:WFDGroundWaterBody"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="WatercourseLink" substitutionGroup="net:Link" type="HY:WatercourseLinkType"/>
  <complexType name="WatercourseLinkType">
    <complexContent>
      <extension base="net:LinkType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="theStandingWater" nillable="true" type="gml:ReferenceType"/>
          <element minOccurs="0" name="theWatercourse" nillable="true" type="gml:ReferenceType"/>
          <element name="beginLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="crossSection" nillable="true" type="gml:CurvePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="crossSectionLocation" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:LengthType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="dischargeRate" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:MeasureType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="flowDirection" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:SignType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="flowResistance" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:MeasureType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="length" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:LengthType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WatercourseLinkPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:WatercourseLink"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="Crossing" substitutionGroup="HY:ManMadeObject" type="HY:CrossingType"/>
  <complexType abstract="true" name="CrossingType">
    <complexContent>
      <extension base="HY:ManMadeObjectType">
        <sequence>
          <element name="carries" nillable="true" type="gml:ReferenceType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CrossingPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:Crossing"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <simpleType name="WatercourseHierarchyTypeType">
    <restriction base="string">
      <enumeration value="1st"/>
      <enumeration value="2nd"/>
      <enumeration value="3rd"/>
      <enumeration value="4th"/>
      <enumeration value="5th"/>
      <enumeration value="other"/>
    </restriction>
  </simpleType>
  <element name="GlacierSnowfield" substitutionGroup="gml:_Feature" type="HY:GlacierSnowfieldType"/>
  <complexType name="GlacierSnowfieldType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="hasNetworkNode" nillable="true" type="gml:ReferenceType"/>
          <element minOccurs="0" name="fictitiousWatercourse" nillable="true" type="gml:ReferenceType"/>
          <element name="beginLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="geometry" type="gml:SurfacePropertyType"/>
          <element name="id" type="base:IdentifierPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="geographicalName" nillable="true">
            <complexType>
              <complexContent>
                <extension base="GN:GeographicalNamePropertyType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GlacierSnowfieldPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:GlacierSnowfield"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="StandingWater" substitutionGroup="HY:SurfaceWater" type="HY:StandingWaterType"/>
  <complexType name="StandingWaterType">
    <complexContent>
      <extension base="HY:SurfaceWaterType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="isWfdLake" nillable="true" type="gml:ReferenceType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hasNetworkNode" nillable="true" type="gml:ReferenceType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hasNetworkSegment" nillable="true" type="gml:ReferenceType"/>
          <element minOccurs="0" name="theDam" nillable="true" type="gml:ReferenceType"/>
          <element name="elevation" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:LengthType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="meanDepth" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:LengthType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="surfaceArea" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:AreaType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StandingWaterPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:StandingWater"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="Basin" substitutionGroup="HY:CatchmentArea" type="HY:BasinType"/>
  <complexType name="BasinType">
    <complexContent>
      <extension base="HY:CatchmentAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BasinPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:Basin"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="Shore" substitutionGroup="gml:_Feature" type="HY:ShoreType"/>
  <complexType abstract="true" name="ShoreType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="adjoinsWfdTransitionalWater" nillable="true" type="gml:ReferenceType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hasConstruction" nillable="true" type="gml:ReferenceType"/>
          <element name="beginLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="composition" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="id" type="base:IdentifierPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="geographicalName" nillable="true">
            <complexType>
              <complexContent>
                <extension base="GN:GeographicalNamePropertyType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element name="origin" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="HY:OriginTypeType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ShorePropertyType">
    <sequence minOccurs="0">
      <element ref="HY:Shore"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="ShorelineConstruction" substitutionGroup="HY:ManMadeObject" type="HY:ShorelineConstructionType"/>
  <complexType name="ShorelineConstructionType">
    <complexContent>
      <extension base="HY:ManMadeObjectType">
        <sequence>
          <element minOccurs="0" name="builtOn" nillable="true" type="gml:ReferenceType"/>
          <element minOccurs="0" name="builtIn" nillable="true" type="gml:ReferenceType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ShorelineConstructionPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:ShorelineConstruction"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="Constriction" substitutionGroup="HY:WatercourseNode" type="HY:ConstrictionType"/>
  <complexType name="ConstrictionType">
    <complexContent>
      <extension base="HY:WatercourseNodeType">
        <sequence>
          <element minOccurs="0" name="theHydroPointOfInterest" nillable="true" type="gml:ReferenceType"/>
          <element minOccurs="0" name="theManMadeObject" nillable="true" type="gml:ReferenceType"/>
          <element minOccurs="0" name="outlet" nillable="true" type="gml:ReferenceType"/>
          <element minOccurs="0" name="inlet" nillable="true" type="gml:ReferenceType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ConstrictionPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:Constriction"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="MonitoringPoint" substitutionGroup="HY:HydroFacility" type="HY:MonitoringPointType"/>
  <complexType name="MonitoringPointType">
    <complexContent>
      <extension base="HY:HydroFacilityType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MonitoringPointPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:MonitoringPoint"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="HydroFacility" substitutionGroup="gml:_Feature" type="HY:HydroFacilityType"/>
  <complexType abstract="true" name="HydroFacilityType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="theSurfaceWater" nillable="true" type="gml:ReferenceType"/>
          <element name="beginLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="condition" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="HY:ConditionTypeType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="geometry" nillable="true" type="gml:GeometricPrimitivePropertyType"/>
          <element name="id" type="base:IdentifierPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="geographicalName" nillable="true">
            <complexType>
              <complexContent>
                <extension base="GN:GeographicalNamePropertyType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HydroFacilityPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:HydroFacility"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="WatercourseSeparatedCrossing" substitutionGroup="net:GradeSeparatedCrossing" type="HY:WatercourseSeparatedCrossingType"/>
  <complexType name="WatercourseSeparatedCrossingType">
    <complexContent>
      <extension base="net:GradeSeparatedCrossingType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WatercourseSeparatedCrossingPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:WatercourseSeparatedCrossing"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <simpleType name="LocationTypeType">
    <restriction base="string">
      <enumeration value="onGround"/>
      <enumeration value="aboveGround"/>
      <enumeration value="belowGround"/>
    </restriction>
  </simpleType>
  <element name="CatchmentArea" substitutionGroup="gml:_Feature" type="HY:CatchmentAreaType"/>
  <complexType name="CatchmentAreaType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" name="wfdOutlet" nillable="true" type="gml:ReferenceType"/>
          <element name="outlet" nillable="true" type="gml:ReferenceType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="containsCatchment" type="gml:ReferenceType"/>
          <element name="area" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:AreaType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="beginLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="geographicalName" nillable="true">
            <complexType>
              <complexContent>
                <extension base="GN:GeographicalNamePropertyType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element name="geometry" type="gml:SurfacePropertyType"/>
          <element minOccurs="0" name="hydroId" nillable="true">
            <complexType>
              <sequence>
                <element ref="HY:HydroIdentifier"/>
              </sequence>
              <attribute name="nilReason" type="gml:NullType"/>
            </complexType>
          </element>
          <element name="id" type="base:IdentifierPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CatchmentAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:CatchmentArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="Wetland" substitutionGroup="gml:_Feature" type="HY:WetlandType"/>
  <complexType name="WetlandType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="hasNetworkNode" nillable="true" type="gml:ReferenceType"/>
          <element name="beginLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="geometry" type="gml:SurfacePropertyType"/>
          <element name="id" type="base:IdentifierPropertyType"/>
          <element minOccurs="0" name="localType" type="gmd:LocalisedCharacterString_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="geographicalName" nillable="true">
            <complexType>
              <complexContent>
                <extension base="GN:GeographicalNamePropertyType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WetlandPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:Wetland"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="DamOrWeir" substitutionGroup="HY:InteriorManMadeObject" type="HY:DamOrWeirType"/>
  <complexType name="DamOrWeirType">
    <complexContent>
      <extension base="HY:InteriorManMadeObjectType">
        <sequence>
          <element minOccurs="0" name="theReservoir" nillable="true" type="gml:ReferenceType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hasSluice" nillable="true" type="gml:ReferenceType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DamOrWeirPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:DamOrWeir"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="SurfaceCrossing" substitutionGroup="HY:Crossing" type="HY:SurfaceCrossingType"/>
  <complexType name="SurfaceCrossingType">
    <complexContent>
      <extension base="HY:CrossingType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SurfaceCrossingPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:SurfaceCrossing"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="WFDRiver" substitutionGroup="HY:WFDInlandWater" type="HY:WFDRiverType"/>
  <complexType name="WFDRiverType">
    <complexContent>
      <extension base="HY:WFDInlandWaterType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="isWatercourse" nillable="true" type="gml:ReferenceType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WFDRiverPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:WFDRiver"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="LandWaterBoundary" substitutionGroup="gml:_Feature" type="HY:LandWaterBoundaryType"/>
  <complexType name="LandWaterBoundaryType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="isAdminBoundary" type="gml:ReferenceType"/>
          <element name="beginLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="geometry" type="gml:CurvePropertyType"/>
          <element name="id" type="base:IdentifierPropertyType"/>
          <element name="origin" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="HY:OriginTypeType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="waterLevelCategory" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="HY:WaterLevelTypeType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LandWaterBoundaryPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:LandWaterBoundary"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="WFDCoastalWater" substitutionGroup="HY:WFDSurfaceWaterBody" type="HY:WFDCoastalWaterType"/>
  <complexType name="WFDCoastalWaterType">
    <complexContent>
      <extension base="HY:WFDSurfaceWaterBodyType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="adjoinsSea" nillable="true" type="gml:ReferenceType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WFDCoastalWaterPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:WFDCoastalWater"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="WatercourseNode" substitutionGroup="net:Node" type="HY:WatercourseNodeType"/>
  <complexType name="WatercourseNodeType">
    <complexContent>
      <extension base="net:NodeType">
        <sequence>
          <element minOccurs="0" name="theWetland" nillable="true" type="gml:ReferenceType"/>
          <element minOccurs="0" name="theGlacier" nillable="true" type="gml:ReferenceType"/>
          <element minOccurs="0" name="theSea" nillable="true" type="gml:ReferenceType"/>
          <element minOccurs="0" name="theStandingWater" nillable="true" type="gml:ReferenceType"/>
          <element name="beginLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="hydroNodeCategory" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WatercourseNodePropertyType">
    <sequence minOccurs="0">
      <element ref="HY:WatercourseNode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="SurfaceWaterRef" substitutionGroup="gml:_Object" type="HY:SurfaceWaterRefType"/>
  <complexType name="SurfaceWaterRefType">
    <sequence>
      <element name="objectRef" type="gml:ReferenceType"/>
    </sequence>
  </complexType>
  <complexType name="SurfaceWaterRefPropertyType">
    <sequence>
      <element ref="HY:SurfaceWaterRef"/>
    </sequence>
  </complexType>
  <element abstract="true" name="WFDInlandWater" substitutionGroup="HY:WFDSurfaceWaterBody" type="HY:WFDInlandWaterType"/>
  <complexType abstract="true" name="WFDInlandWaterType">
    <complexContent>
      <extension base="HY:WFDSurfaceWaterBodyType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="drainsWfdSubBasin" nillable="true" type="gml:ReferenceType"/>
          <element minOccurs="0" name="drainsWfdBasin" nillable="true" type="gml:ReferenceType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="geographicalName" nillable="true">
            <complexType>
              <complexContent>
                <extension base="GN:GeographicalNamePropertyType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element minOccurs="0" name="hydroId" nillable="true">
            <complexType>
              <sequence>
                <element ref="HY:HydroIdentifier"/>
              </sequence>
              <attribute name="nilReason" type="gml:NullType"/>
            </complexType>
          </element>
          <element name="large" type="boolean"/>
          <element name="main" type="boolean"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WFDInlandWaterPropertyType">
    <sequence minOccurs="0">
      <element ref="HY:WFDInlandWater"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
</schema>
