legacy/plugins/eu.esdihumboldt.hale/resources/INSPIRE_Conf_Data/Watercourse/BY/SourceSchema/Watercourses_BY.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:topp="http://www.openplans.org/topp" elementFormDefault="qualified" targetNamespace="http://www.openplans.org/topp">
  <xsd:import namespace="http://www.opengis.net/gml" schemaLocation="../../../GML-3.1.1/base/gml.xsd"/>
  <xsd:complexType name="Watercourses_BYType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="the_geom" nillable="true" type="gml:MultiLineStringPropertyType"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="OBJNR" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="OBJTNR" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="OBJART" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="OB" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="OBA" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="GN" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="KN" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ZN" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="BRG" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="HYD" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="OFL" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SFK" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="VEG" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="WDM" nillable="true" type="xsd:int"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Watercourses_BY" substitutionGroup="gml:_Feature" type="topp:Watercourses_BYType"/>
</xsd:schema>
