cst/plugins/eu.esdihumboldt.cst.test/src/testdata/priority/t2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/t2/"
	targetNamespace="http://www.example.org/t2/">
	<complexType name="T2">
		<sequence>
			<element name="b" type="string" maxOccurs="1"
				minOccurs="1"></element>
		</sequence>
	</complexType>

	<element name="t2" type="tns:T2"></element>

	<element name="collection" type="tns:CollectionType"></element>

	<complexType name="CollectionType">
		<sequence>
			<element ref="tns:t2" maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
	</complexType>
</schema>