cst/cst-wps/trunk/src/main/webapp/xsds/GCM/BaseTypes.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:base="urn:x-inspire:specification:gmlas-v31:BaseTypes:3.1" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml" elementFormDefault="qualified" targetNamespace="urn:x-inspire:specification:gmlas-v31:BaseTypes:3.1" version="3.1">
  <import namespace="http://www.opengis.net/gml" schemaLocation="../gml/3.1.1/gml.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../iso/19139/20070417/gmd/gmd.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="Identifier" substitutionGroup="gml:_Object" type="base:IdentifierType"/>
  <complexType name="IdentifierType">
    <sequence>
      <element name="localId" type="string"/>
      <element name="namespace" type="string"/>
      <element minOccurs="0" name="versionId" nillable="true">
        <complexType>
          <simpleContent>
            <extension base="string">
              <attribute name="nilReason" type="gml:NullType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="IdentifierPropertyType">
    <sequence>
      <element ref="base:Identifier"/>
    </sequence>
  </complexType>
  <element name="SpatialDataSet" substitutionGroup="gml:_Feature" type="base:SpatialDataSetType"/>
  <complexType name="SpatialDataSetType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="member" type="gml:FeaturePropertyType"/>
          <element name="identifier" type="base:IdentifierPropertyType"/>
          <element name="metadata" nillable="true">
            <complexType>
              <sequence>
                <element ref="gmd:MD_Metadata"/>
              </sequence>
              <attribute name="nilReason" type="gml:NullType"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SpatialDataSetPropertyType">
    <sequence minOccurs="0">
      <element ref="base:SpatialDataSet"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <simpleType name="IndicativeLoDType">
    <restriction base="string">
      <enumeration value="European"/>
      <enumeration value="National"/>
      <enumeration value="Regional"/>
      <enumeration value="Local"/>
    </restriction>
  </simpleType>
</schema>
