cst/cst-wps/trunk/src/main/webapp/xsds/GCM/Network.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:GN="urn:x-inspire:specification:gmlas-v31:GeographicalNames:2.0" xmlns:base="urn:x-inspire:specification:gmlas-v31:BaseTypes:3.1" xmlns:gml="http://www.opengis.net/gml" xmlns:net="urn:x-inspire:specification:gmlas-v31:Network:3.1" elementFormDefault="qualified" targetNamespace="urn:x-inspire:specification:gmlas-v31:Network:3.1" version="3.1">
  <import namespace="http://www.opengis.net/gml" schemaLocation="../gml/3.1.1/gml.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas-v31:GeographicalNames:2.0" schemaLocation="../GN/GeographicalNames.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas-v31:BaseTypes:3.1" schemaLocation="BaseTypes.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element abstract="true" name="NetworkElement" substitutionGroup="gml:_Feature" type="net:NetworkElementType"/>
  <complexType abstract="true" name="NetworkElementType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="connections" type="gml:ReferenceType"/>
          <element maxOccurs="unbounded" name="inNetwork" nillable="true" type="gml:ReferenceType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="name" nillable="true">
            <complexType>
              <complexContent>
                <extension base="GN:GeographicalNamePropertyType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element minOccurs="0" name="id" type="base:IdentifierPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NetworkElementPropertyType">
    <sequence minOccurs="0">
      <element ref="net:NetworkElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="Link" substitutionGroup="net:NetworkElement" type="net:LinkType"/>
  <complexType abstract="true" name="LinkType">
    <complexContent>
      <extension base="net:NetworkElementType">
        <sequence>
          <element minOccurs="0" name="endNode" type="gml:ReferenceType"/>
          <element minOccurs="0" name="startNode" type="gml:ReferenceType"/>
          <element name="centerlineGeometry" type="gml:CurvePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LinkPropertyType">
    <sequence minOccurs="0">
      <element ref="net:Link"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="Area" substitutionGroup="net:NetworkElement" type="net:AreaType"/>
  <complexType abstract="true" name="AreaType">
    <complexContent>
      <extension base="net:NetworkElementType">
        <sequence>
          <element name="geometry" type="gml:SurfacePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AreaPropertyType">
    <sequence minOccurs="0">
      <element ref="net:Area"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="DirectedLink" substitutionGroup="gml:_Object" type="net:DirectedLinkType"/>
  <complexType name="DirectedLinkType">
    <sequence>
      <element name="link" type="gml:ReferenceType"/>
      <element name="direction" type="gml:SignType"/>
    </sequence>
  </complexType>
  <complexType name="DirectedLinkPropertyType">
    <sequence>
      <element ref="net:DirectedLink"/>
    </sequence>
  </complexType>
  <element name="SimpleLinearReference" substitutionGroup="net:NetworkReference" type="net:SimpleLinearReferenceType"/>
  <complexType name="SimpleLinearReferenceType">
    <complexContent>
      <extension base="net:NetworkReferenceType">
        <sequence>
          <element name="fromPosition" type="gml:LengthType"/>
          <element name="toPosition" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SimpleLinearReferencePropertyType">
    <sequence>
      <element ref="net:SimpleLinearReference"/>
    </sequence>
  </complexType>
  <element name="Network" substitutionGroup="gml:_Feature" type="net:NetworkType"/>
  <complexType name="NetworkType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="elements" type="gml:ReferenceType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="GradeSeparatedCrossing" substitutionGroup="net:NetworkElement" type="net:GradeSeparatedCrossingType"/>
  <complexType name="GradeSeparatedCrossingType">
    <complexContent>
      <extension base="net:NetworkElementType">
        <sequence>
          <element maxOccurs="2" minOccurs="2" name="elements" type="gml:ReferenceType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GradeSeparatedCrossingPropertyType">
    <sequence minOccurs="0">
      <element ref="net:GradeSeparatedCrossing"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="Node" substitutionGroup="net:NetworkElement" type="net:NodeType"/>
  <complexType abstract="true" name="NodeType">
    <complexContent>
      <extension base="net:NetworkElementType">
        <sequence>
          <element name="geometry" type="gml:PointPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NodePropertyType">
    <sequence minOccurs="0">
      <element ref="net:Node"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="CrossReference" substitutionGroup="gml:_GML" type="net:CrossReferenceType"/>
  <complexType name="CrossReferenceType">
    <complexContent>
      <extension base="gml:AbstractGMLType">
        <sequence>
          <element maxOccurs="2" minOccurs="2" name="elements" type="gml:ReferenceType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CrossReferencePropertyType">
    <sequence minOccurs="0">
      <element ref="net:CrossReference"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="NetworkConnection" substitutionGroup="net:NetworkElement" type="net:NetworkConnectionType"/>
  <complexType name="NetworkConnectionType">
    <complexContent>
      <extension base="net:NetworkElementType">
        <sequence>
          <element maxOccurs="2" minOccurs="2" name="elements" type="gml:ReferenceType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NetworkConnectionPropertyType">
    <sequence minOccurs="0">
      <element ref="net:NetworkConnection"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="NetworkReference" substitutionGroup="gml:_Object" type="net:NetworkReferenceType"/>
  <complexType name="NetworkReferenceType">
    <sequence>
      <element name="element" type="gml:ReferenceType"/>
    </sequence>
  </complexType>
  <complexType name="NetworkReferencePropertyType">
    <sequence>
      <element ref="net:NetworkReference"/>
    </sequence>
  </complexType>
  <element name="AggregatedLink" substitutionGroup="net:NetworkElement" type="net:AggregatedLinkType"/>
  <complexType name="AggregatedLinkType">
    <complexContent>
      <extension base="net:NetworkElementType">
        <sequence>
          <element maxOccurs="unbounded" name="links" type="gml:ReferenceType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AggregatedLinkPropertyType">
    <sequence minOccurs="0">
      <element ref="net:AggregatedLink"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="NetworkProperty" substitutionGroup="gml:_Feature" type="net:NetworkPropertyType"/>
  <complexType abstract="true" name="NetworkPropertyType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="networkRef" nillable="true">
            <complexType>
              <sequence>
                <element ref="net:NetworkReference"/>
              </sequence>
              <attribute name="nilReason" type="gml:NullType"/>
            </complexType>
          </element>
          <element minOccurs="0" name="id" type="base:IdentifierPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NetworkPropertyPropertyType">
    <sequence minOccurs="0">
      <element ref="net:NetworkProperty"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
</schema>
