server/plugins/eu.esdihumboldt.hale.server.api.war/schema/wadl-sample.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://wadl.dev.java.net/2009/02 wadl.xsd">
	<doc title="REST Service WADL" />
	<resources base="http://localhost:8080/api">
		<resource path="/version">
			<method id="getVersion" name="GET">
				<doc title="eu.esdihumboldt.hale.server.api.controller.Main.getVersion" />
			</method>
		</resource>
		<resource path="/wadl">
			<method id="generateWadl" name="GET">
				<doc title="eu.esdihumboldt.hale.server.api.controller.WADL.generateWadl" />
				<response status="200">
					<representation mediaType="application/xml" />
				</response>
			</method>
		</resource>
		<resource path="/doc">
			<method id="getDocumentation" name="GET">
				<doc
					title="eu.esdihumboldt.hale.server.api.controller.WADL.getDocumentation" />
				<response status="200">
					<representation mediaType="application/xhtml+xml" />
				</response>
			</method>
		</resource>
	</resources>
</application>