legacy/plugins/eu.esdihumboldt.hale/resources/D2.8-I_GML-Application-Schemas_v2.0-GML3.1.1/TN/TransportNetworks-Common.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:TN="urn:x-inspire:specification:gmlas-v31:TransportNetworks-Common:2.0" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml" xmlns:net="urn:x-inspire:specification:gmlas-v31:Network:3.1" elementFormDefault="qualified" targetNamespace="urn:x-inspire:specification:gmlas-v31:TransportNetworks-Common:2.0" version="2.0">
  <import namespace="urn:x-inspire:specification:gmlas-v31:Network:3.1" schemaLocation="../GCM/Network.xsd"/>
  <import namespace="http://www.opengis.net/gml" schemaLocation="../gml/3.1.1/gml.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../iso/19139/20070417/gmd/gmd.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <simpleType name="ConditionOfFacilityValuesType">
    <restriction base="string">
      <enumeration value="Projected"/>
      <enumeration value="UnderConstruction"/>
      <enumeration value="Functional"/>
      <enumeration value="Disused"/>
    </restriction>
  </simpleType>
  <element name="TransportProperty" substitutionGroup="net:NetworkProperty" type="TN:TransportPropertyType"/>
  <complexType name="TransportPropertyType">
    <complexContent>
      <extension base="net:NetworkPropertyType">
        <sequence>
          <element name="beginLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="validFrom" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="validTo" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TransportPropertyPropertyType">
    <sequence minOccurs="0">
      <element ref="TN:TransportProperty"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="AccessRestriction" substitutionGroup="TN:TransportProperty" type="TN:AccessRestrictionType"/>
  <complexType name="AccessRestrictionType">
    <complexContent>
      <extension base="TN:TransportPropertyType">
        <sequence>
          <element name="restriction" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AccessRestrictionPropertyType">
    <sequence minOccurs="0">
      <element ref="TN:AccessRestriction"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="LocationCategory" substitutionGroup="TN:TransportProperty" type="TN:LocationCategoryType"/>
  <complexType name="LocationCategoryType">
    <complexContent>
      <extension base="TN:TransportPropertyType">
        <sequence>
          <element name="locationCategory" type="TN:LocationCategoryValuesType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LocationCategoryPropertyType">
    <sequence minOccurs="0">
      <element ref="TN:LocationCategory"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="MaintenanceAuthority" substitutionGroup="TN:TransportProperty" type="TN:MaintenanceAuthorityType"/>
  <complexType name="MaintenanceAuthorityType">
    <complexContent>
      <extension base="TN:TransportPropertyType">
        <sequence>
          <element name="authority">
            <complexType>
              <sequence minOccurs="0">
                <element ref="gmd:CI_Citation"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MaintenanceAuthorityPropertyType">
    <sequence minOccurs="0">
      <element ref="TN:MaintenanceAuthority"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="TransportLink" substitutionGroup="net:Link" type="TN:TransportLinkType"/>
  <complexType abstract="true" name="TransportLinkType">
    <complexContent>
      <extension base="net:LinkType">
        <sequence>
          <element name="beginLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="validFrom" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="validTo" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TransportLinkPropertyType">
    <sequence minOccurs="0">
      <element ref="TN:TransportLink"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="RestrictionForVehicles" substitutionGroup="TN:TransportProperty" type="TN:RestrictionForVehiclesType"/>
  <complexType name="RestrictionForVehiclesType">
    <complexContent>
      <extension base="TN:TransportPropertyType">
        <sequence>
          <element name="measure" type="gml:MeasureType"/>
          <element name="restrictionType" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RestrictionForVehiclesPropertyType">
    <sequence minOccurs="0">
      <element ref="TN:RestrictionForVehicles"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="TransportArea" substitutionGroup="net:Area" type="TN:TransportAreaType"/>
  <complexType abstract="true" name="TransportAreaType">
    <complexContent>
      <extension base="net:AreaType">
        <sequence>
          <element name="beginLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="validFrom" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="validTo" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TransportAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="TN:TransportArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="TransportNode" substitutionGroup="net:Node" type="TN:TransportNodeType"/>
  <complexType abstract="true" name="TransportNodeType">
    <complexContent>
      <extension base="net:NodeType">
        <sequence>
          <element name="beginLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="validFrom" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="validTo" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TransportNodePropertyType">
    <sequence minOccurs="0">
      <element ref="TN:TransportNode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <simpleType name="LocationCategoryValuesType">
    <restriction base="string">
      <enumeration value="1"/>
      <enumeration value="2"/>
      <enumeration value="3"/>
    </restriction>
  </simpleType>
  <element name="ConditionOfFacility" substitutionGroup="TN:TransportProperty" type="TN:ConditionOfFacilityType"/>
  <complexType name="ConditionOfFacilityType">
    <complexContent>
      <extension base="TN:TransportPropertyType">
        <sequence>
          <element name="currentStatus" type="TN:ConditionOfFacilityValuesType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ConditionOfFacilityPropertyType">
    <sequence minOccurs="0">
      <element ref="TN:ConditionOfFacility"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AggregatedTransportLink" substitutionGroup="net:AggregatedLink" type="TN:AggregatedTransportLinkType"/>
  <complexType abstract="true" name="AggregatedTransportLinkType">
    <complexContent>
      <extension base="net:AggregatedLinkType">
        <sequence>
          <element name="beginLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="validFrom" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="validTo" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AggregatedTransportLinkPropertyType">
    <sequence minOccurs="0">
      <element ref="TN:AggregatedTransportLink"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="OwnerAuthority" substitutionGroup="TN:TransportProperty" type="TN:OwnerAuthorityType"/>
  <complexType name="OwnerAuthorityType">
    <complexContent>
      <extension base="TN:TransportPropertyType">
        <sequence>
          <element name="authority">
            <complexType>
              <sequence minOccurs="0">
                <element ref="gmd:CI_Citation"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OwnerAuthorityPropertyType">
    <sequence minOccurs="0">
      <element ref="TN:OwnerAuthority"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
</schema>
