cst/cst-wps/trunk/src/test/resource/eu/esdihumboldt/web/AD/Addresses.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:AD="urn:x-inspire:specification:gmlas-v31:Addresses:2.0" xmlns:AU="urn:x-inspire:specification:gmlas-v31:AdministrativeUnits:2.0" xmlns:GN="urn:x-inspire:specification:gmlas-v31:GeographicalNames:2.0" xmlns:base="urn:x-inspire:specification:gmlas-v31:BaseTypes:3.1" xmlns:gml="http://www.opengis.net/gml" elementFormDefault="qualified" targetNamespace="urn:x-inspire:specification:gmlas-v31:Addresses:2.0" version="2.0">
  <import namespace="http://www.opengis.net/gml" schemaLocation="../gml/3.1.1/gml.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas-v31:BaseTypes:3.1" schemaLocation="../GCM/BaseTypes.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas-v31:GeographicalNames:2.0" schemaLocation="../GN/GeographicalNames.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas-v31:AdministrativeUnits:2.0" schemaLocation="../AU/AdministrativeUnits.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="Address" substitutionGroup="gml:_Feature" type="AD:AddressType"/>
  <complexType name="AddressType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="2" name="component" type="AD:AddressComponentPropertyType"/>
          <element name="geographicPosition" type="gml:PointPropertyType"/>
          <element name="geometryOrigin" type="AD:GeometryOriginPropertyType"/>
          <element name="identifier" type="base:IdentifierPropertyType"/>
          <element name="lastChange" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="status" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="validFrom" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="validTo" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="beginLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AddressPropertyType">
    <sequence minOccurs="0">
      <element ref="AD:Address"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="LocatorName" substitutionGroup="gml:_Object" type="AD:LocatorNameType"/>
  <complexType name="LocatorNameType">
    <sequence>
      <element maxOccurs="unbounded" name="nameValue" type="GN:GeographicalNamePropertyType"/>
      <element name="type" type="gml:CodeType"/>
    </sequence>
  </complexType>
  <complexType name="LocatorNamePropertyType">
    <sequence>
      <element ref="AD:LocatorName"/>
    </sequence>
  </complexType>
  <element name="LocatorDesignator" substitutionGroup="gml:_Object" type="AD:LocatorDesignatorType"/>
  <complexType name="LocatorDesignatorType">
    <sequence>
      <element name="designatorValue" type="string"/>
      <element name="type" type="gml:CodeType"/>
    </sequence>
  </complexType>
  <complexType name="LocatorDesignatorPropertyType">
    <sequence>
      <element ref="AD:LocatorDesignator"/>
    </sequence>
  </complexType>
  <element name="GeometryOrigin" substitutionGroup="gml:_Object" type="AD:GeometryOriginType"/>
  <complexType name="GeometryOriginType">
    <sequence>
      <element name="base" nillable="true">
        <complexType>
          <simpleContent>
            <extension base="gml:CodeType">
              <attribute name="nilReason" type="gml:NullType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element name="method" nillable="true">
        <complexType>
          <simpleContent>
            <extension base="gml:CodeType">
              <attribute name="nilReason" type="gml:NullType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="GeometryOriginPropertyType">
    <sequence>
      <element ref="AD:GeometryOrigin"/>
    </sequence>
  </complexType>
  <element abstract="true" name="AddressComponent" substitutionGroup="gml:_Feature" type="AD:AddressComponentType"/>
  <complexType abstract="true" name="AddressComponentType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="child" nillable="true" type="AD:AddressComponentPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="parent" nillable="true" type="gml:ReferenceType"/>
          <element minOccurs="0" name="gazetteerInstance" nillable="true" type="gml:ReferenceType"/>
          <element minOccurs="0" name="alternativeIdentifier" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="beginLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="identifier" nillable="true">
            <complexType>
              <complexContent>
                <extension base="base:IdentifierPropertyType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element name="lastChange" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="status" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="validFrom" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="validTo" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NullType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AddressComponentPropertyType">
    <sequence minOccurs="0">
      <element ref="AD:AddressComponent"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="AddressAreaName" substitutionGroup="AD:AddressComponent" type="AD:AddressAreaNameType"/>
  <complexType name="AddressAreaNameType">
    <complexContent>
      <extension base="AD:AddressComponentType">
        <sequence>
          <element maxOccurs="unbounded" name="name" type="GN:GeographicalNamePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AddressAreaNamePropertyType">
    <sequence minOccurs="0">
      <element ref="AD:AddressAreaName"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="AdminUnitName" substitutionGroup="AD:AddressComponent" type="AD:AdminUnitNameType"/>
  <complexType name="AdminUnitNameType">
    <complexContent>
      <extension base="AD:AddressComponentType">
        <sequence>
          <element name="adminUnit" nillable="true" type="gml:ReferenceType"/>
          <element maxOccurs="unbounded" name="name" type="GN:GeographicalNamePropertyType"/>
          <element name="level" type="AU:AdministrativeHierarchyLevelType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AdminUnitNamePropertyType">
    <sequence minOccurs="0">
      <element ref="AD:AdminUnitName"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="Locator" substitutionGroup="AD:AddressComponent" type="AD:LocatorType"/>
  <complexType name="LocatorType">
    <complexContent>
      <extension base="AD:AddressComponentType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="building" nillable="true" type="gml:ReferenceType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="parcel" nillable="true" type="gml:ReferenceType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="designator" type="AD:LocatorDesignatorPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="name" type="AD:LocatorNamePropertyType"/>
          <element name="level" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LocatorPropertyType">
    <sequence minOccurs="0">
      <element ref="AD:Locator"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="Building" substitutionGroup="gml:_Feature" type="AD:BuildingType"/>
  <complexType name="BuildingType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BuildingPropertyType">
    <sequence minOccurs="0">
      <element ref="AD:Building"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="ThoroughfareName" substitutionGroup="AD:AddressComponent" type="AD:ThoroughfareNameType"/>
  <complexType name="ThoroughfareNameType">
    <complexContent>
      <extension base="AD:AddressComponentType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="water" nillable="true" type="gml:ReferenceType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="road" nillable="true" type="gml:ReferenceType"/>
          <element maxOccurs="unbounded" name="name" type="GN:GeographicalNamePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ThoroughfareNamePropertyType">
    <sequence minOccurs="0">
      <element ref="AD:ThoroughfareName"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="PostalDescriptor" substitutionGroup="AD:AddressComponent" type="AD:PostalDescriptorType"/>
  <complexType name="PostalDescriptorType">
    <complexContent>
      <extension base="AD:AddressComponentType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="postName" type="GN:GeographicalNamePropertyType"/>
          <element minOccurs="0" name="postCode" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PostalDescriptorPropertyType">
    <sequence minOccurs="0">
      <element ref="AD:PostalDescriptor"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
</schema>
