io/plugins/eu.esdihumboldt.hale.io.xtraserver.test/src/data/XtraServer_Mapping.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://www.interactive-instruments.de/namespaces/XtraServer" 
        xmlns:xtraSrv="http://www.interactive-instruments.de/namespaces/XtraServer" 
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
        xmlns:xml="http://www.w3.org/XML/1998/namespace" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xmlns:xlink="http://www.w3.org/1999/xlink" 
        xmlns:ogc="http://www.opengis.net/ogc" 
        xmlns:wfs="http://www.opengis.net/wfs/2.0" 
        elementFormDefault="qualified">

<xsd:complexType name="MappingsSequenceType">
		<xsd:sequence>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="Table">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="gmlVersion" type="xsd:string" use="optional"/>
								<xsd:attribute name="id" use="optional" type="xsd:string">
								</xsd:attribute>
								<xsd:attribute name="target" use="optional" type="xsd:string" default="">
								</xsd:attribute>
								<xsd:attribute name="match" use="optional" type="xsd:string">
								</xsd:attribute>
								<xsd:attribute name="disambiguate" use="optional" type="xsd:string">
								</xsd:attribute>
								<xsd:attribute name="map_targetpath" use="optional" type="xsd:boolean">
								</xsd:attribute>
								<xsd:attribute name="apply_mapping_to_path" use="optional" type="xsd:boolean">
								</xsd:attribute>
								<xsd:attribute name="applyMappingToPath" use="optional" type="xsd:boolean" >
								</xsd:attribute>
								<xsd:attribute name="mapping_mode" use="optional" default="value">
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:enumeration value="value"/>
											<xsd:enumeration value="nil"/>
											<xsd:enumeration value="nil_attr"/>
											<xsd:enumeration value="nilAttr"/>	<!-- obsolete -->
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
								<xsd:attribute name="filter_mapping" type="xsd:boolean" use="optional" default="false">
								</xsd:attribute>
								<xsd:attribute name="no_output" type="xsd:boolean" use="optional" >
								</xsd:attribute>
								<xsd:attribute name="noOutput" type="xsd:boolean" use="optional">
								</xsd:attribute>
								<xsd:attribute name="table_name" use="optional" type="xsd:string">
								</xsd:attribute>
								<xsd:attribute name="oid_col" use="optional" type="xsd:string">
								</xsd:attribute>
								<xsd:attribute name="ft_col" use="optional" type="xsd:string">
								</xsd:attribute>
								<xsd:attribute name="generator" use="optional" type="xsd:string">
								</xsd:attribute>
								<xsd:attribute name="value" use="optional" type="xsd:string">
								</xsd:attribute>
								<xsd:attribute name="value_type" use="optional" type="xsd:string">
								</xsd:attribute>
								<xsd:attribute name="valueType" use="optional" type="xsd:string">
								</xsd:attribute>
								<xsd:attribute name="srs" use="optional" type="xsd:string">
								</xsd:attribute>
								<xsd:attribute name="srid" use="optional" type="xsd:string">
								</xsd:attribute>
								<xsd:attribute name="mapped_geometry" use="optional" type="xsd:boolean">
								</xsd:attribute>
								<xsd:attribute name="isMappedGeometry" use="optional" type="xsd:boolean">
								</xsd:attribute>
								<xsd:attribute name="use_geotypes" use="optional" type="xsd:string">
								</xsd:attribute>
								<xsd:attribute name="useGeotypes" use="optional" type="xsd:string">
								</xsd:attribute>
								<xsd:attribute name="assign" use="optional" type="xsd:string">
								</xsd:attribute>
								<xsd:attribute name="assign1" use="optional" type="xsd:string">
								</xsd:attribute>
								<xsd:attribute name="significant_for_emptiness" use="optional" type="xsd:boolean">
								</xsd:attribute>
								<xsd:attribute name="significantForEmptiness" use="optional" type="xsd:boolean">
								</xsd:attribute>
								<xsd:attribute name="suppress_xml_entities_encoding" use="optional" type="xsd:boolean">
								</xsd:attribute>
								<xsd:attribute name="suppressXMLEntitiesEncoding" use="optional" type="xsd:boolean">
								</xsd:attribute>
								<xsd:attribute name="is_reference" use="optional" type="xsd:boolean" >
								</xsd:attribute>
								<xsd:attribute name="isReference" use="optional" type="xsd:boolean" >
								</xsd:attribute>
								<xsd:attribute name="derivation_pattern" use="optional" type="xsd:string"/>
								<xsd:attribute name="db_codes" use="optional" type="xsd:string">
								</xsd:attribute>
								<xsd:attribute name="schema_codes" use="optional" type="xsd:string">
								</xsd:attribute>
								<xsd:attribute name="nil_value" use="optional" type="xsd:string">
								</xsd:attribute>
								<xsd:attribute name="nil_reason" use="optional" type="xsd:string">
								</xsd:attribute>
								<xsd:attribute name="for_each_select_id" use="optional" type="xsd:string">
								</xsd:attribute>
								<xsd:attribute name="select_id" use="optional" type="xsd:string">
								</xsd:attribute>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Join">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="gmlVersion" type="xsd:string" use="optional"/>
								<xsd:attribute name="target" use="optional" type="xsd:string" default="">
								</xsd:attribute>
								<xsd:attribute name="filter_mapping" type="xsd:boolean" use="optional" default="false">
								</xsd:attribute>
								<xsd:attribute name="join_path" use="optional" type="xsd:string">
								</xsd:attribute>
								<xsd:attribute name="axis" use="optional" type="xsd:string">
								</xsd:attribute>
								<xsd:attribute name="idref" use="optional" type="xsd:string">
								</xsd:attribute>
								<xsd:attribute name="match" use="optional" type="xsd:string">
								</xsd:attribute>
								<xsd:attribute name="disambiguate" use="optional" type="xsd:string">
								</xsd:attribute>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="AssociationTarget">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="gmlVersion" type="xsd:string" use="optional"/>
								<xsd:attribute name="target" use="optional" type="xsd:string" default="">
								</xsd:attribute>
								<xsd:attribute name="object_ref" type="xsd:string" use="optional">
								</xsd:attribute>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Content">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="gmlVersion" type="xsd:string" use="optional"/>
								<xsd:attribute name="target" use="optional" type="xsd:string" default="">
								</xsd:attribute>
								<xsd:attribute name="representation" type="xsd:string" use="optional">
								</xsd:attribute>
								<xsd:attribute name="implementation" type="xsd:string" use="optional">
								</xsd:attribute>
								<xsd:attribute name="mode" type="xsd:string" use="optional">
								</xsd:attribute>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Substitution">
					<xsd:complexType>
						<xsd:attribute name="gmlVersion" type="xsd:string" use="optional"/>
						<xsd:attribute name="target" use="optional" type="xsd:string" default="">
						</xsd:attribute>
						<xsd:attribute name="implementation" type="xsd:string" use="optional">
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Mappings" type="xtraSrv:MappingsSequenceType"/>
<xsd:complexType name="SQLFeatureTypeImplType">
		<xsd:complexContent>
			<xsd:extension base="xtraSrv:MappingsSequenceType">
				<xsd:attribute name="logging" use="optional" default="false">
					<xsd:simpleType>
						<xsd:union memberTypes="xsd:boolean xtraSrv:loggingExtensionType  "/>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="useTempTable" type="xsd:boolean" use="optional" default="false">
				</xsd:attribute>
				<xsd:attribute name="tempTableName" type="xsd:string" use="optional">
				</xsd:attribute>
				<xsd:attribute name="FTCode" type="xsd:string" use="optional">
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
<xsd:element name="FeatureType">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="xtraSrv:Name" minOccurs="0"/>
				<xsd:element ref="xtraSrv:Title" minOccurs="0"/>
				<xsd:element name="Abstract" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Keyword" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="OutputFormat" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="wfsVersion" type="xsd:string"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SuppressIdentity" type="xsd:boolean" minOccurs="0">
				</xsd:element>
				<xsd:element name="PathAliases" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="PathAlias" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Pattern" type="xsd:string"/>
										<xsd:element name="Replacement" type="xsd:string"/>
									</xsd:sequence>
									<xsd:attribute name="externalUse" type="xsd:boolean" use="optional" default="false"/>
									<xsd:attribute name="gmlVersion" type="xsd:string" use="optional"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:choice>
					<xsd:element ref="xtraSrv:OraSFeatureTypeImpl" minOccurs="0"/>
					<xsd:element ref="xtraSrv:PGISFeatureTypeImpl" minOccurs="0"/>
					<xsd:element ref="xtraSrv:GDBSQLFeatureTypeImpl" minOccurs="0"/>
					<!-- später mehr ... -->
				</xsd:choice>
			</xsd:sequence>
			<xsd:attribute name="includeDerivations" type="xsd:boolean" use="optional" default="false">
			</xsd:attribute>
			<xsd:attribute name="mode" type="xtraSrv:EnablingType" use="optional" default="enabled"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AdditionalMappings">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="RootElementName" type="xsd:string"/>
				<xsd:element ref="xtraSrv:Mappings"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="PGISFeatureTypeImpl" type="xtraSrv:SQLFeatureTypeImplType">
	</xsd:element>
<xsd:element name="GDBSQLFeatureTypeImpl" type="xtraSrv:SQLFeatureTypeImplType">
	</xsd:element>
<xsd:element name="OraSFeatureTypeImpl" type="xtraSrv:SQLFeatureTypeImplType">
	</xsd:element>
<xsd:element name="FeatureTypes">
							<xsd:complexType>
								<xsd:choice minOccurs="0" maxOccurs="unbounded">
									<xsd:element ref="xtraSrv:FeatureType"/>
									<xsd:element ref="xtraSrv:AdditionalMappings"/>
								</xsd:choice>
								<xsd:attribute name="defaultDbSchema" type="xsd:string" use="optional"/>
								<xsd:attribute name="appSchemaGenerator" type="xsd:IDREF" use="optional"/>
							</xsd:complexType>
						</xsd:element>
<xsd:simpleType name="EnablingType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="enabled"/>
			<xsd:enumeration value="disabled"/>
		</xsd:restriction>
	</xsd:simpleType>
<xsd:simpleType name="loggingExtensionType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="short"/>
		</xsd:restriction>
	</xsd:simpleType>
<xsd:element name="Name" type="xsd:string"/>
	<xsd:element name="Title" type="xsd:string"/>
</xsd:schema>
